[2016-12-12 17:30] jj0hns0n opened #1 "Setup project from geonode template project"
Setup the 2c_geonode project from the geonode-template project

* [x] Create project from the template
* [x] Verify the virtualenvironment setup works
* [x] Verify the docker setup works
* [x] Verify the ansible setup works
* [x] Verify the paver setup works (with latest geoserver)

[2016-12-12 17:31] jj0hns0n commented on #1
Basic project added at 542e12150d102778044b1931b56887085452d54b

[2016-12-12 17:31] jj0hns0n opened #2 "Setup homepage & header/footer from new geonode template"
Setup the secondary cities homepage and header/footer from new geonode template (ala http://www.masdap.mw/)

[2016-12-12 17:33] jj0hns0n opened #3 "Verify Ansible setup works"
The geonode ansible playbook is being updated to 16.04 (xenial). We need to verify that the 2c_geonode project is deployable with the new 16.04 based playbook.

[2016-12-12 19:56] jj0hns0n opened #4 "Setup 2c geonode to use latest geonode-client"

[2017-01-24 06:44] stevenvandervalk opened #7 "Ran into django migration error on fresh docker-compose build"
Hi, just came across the repo while checking out potential geonode deployments I could utilise for a regional open GIS data portal.  Tried out the docker-compose build on a latest docker for mac build and ran into the following error.  Would love to try out the project locally and learn from it but totally understand if not ready for  outsider usage.

all the best,

[code]

[2017-01-24 14:14] jj0hns0n commented on #7
Use `make sync` to run the migrate command and load some fixtures.

But you should be following along here https://github.com/geonode/geonode-project and setting up your own project.

The docker setup for GeoNode is in a bit of flux currently as we prepare for the 2.6 release and have merged some changes to the way GeoNode and GeoServer interact.

[2017-01-24 14:14] #7 closed

[2017-01-25 04:26] stevenvandervalk commented on #7
@jj0hns0n Thanks for the reply and info, much appreciated!

Thanks, I'll try geonode-project again. I had some difficulty with it the first time around so went looking for established docker based setups instead of Ansible.  I guess you are saying I should wait a bit before spending any time on a docker setup that will change shortly.

[2017-01-25 15:23] jj0hns0n commented on #7
Yes, thats it, there are a few people working on the docker solution now
and it should be ready very shortly.

On Tue, Jan 24, 2017 at 8:26 PM, Steve Vandervalk <notifications@github.com>
wrote:

[2017-01-30 01:38] stevenvandervalk commented on #7
Thanks Jeffery!  Should I watch the Geonode github repo for a tagged release concerning this or somewhere else?
--
Steve van der Valk
eResearch Centre
James Cook University
M: 0468311883
T: (07) 4781 6904
E: steven.vandervalk@jcu.edu.au
L: FSE Building 17, Room 057

[2017-01-30 14:23] jj0hns0n commented on #7
Yep

[2017-08-24 12:53] milafrerichs opened #26 "Big Search bar"
Request via Google Doc:

<img width="635" alt="bildschirmfoto 2017-08-24 um 14 52 47" src="https://user-images.githubusercontent.com/688980/29667232-ecbc647c-88db-11e7-9cb8-34bdbc1253d6.png">

[2017-08-24 12:54] milafrerichs commented on #26
there are several places where the search is displayed.
For example in the Layer list page.
Adding the search bar would look something like that
<img width="1213" alt="bildschirmfoto 2017-08-24 um 14 50 55" src="https://user-images.githubusercontent.com/688980/29667291-199953b0-88dc-11e7-9222-088cfd1a9343.png">
would that be ok?

[2017-08-24 15:32] milafrerichs opened #28 "Additional Search Fields (Have search work on description text in addition to just title) Ensure this works in autocomplete dropdowns etc"
Text search

[2017-08-25 12:36] milafrerichs opened #30 "Add filter for Cities"

[2017-08-25 13:25] d3netxer opened #31 "Upper Right Search Bar on Home"
- Move Search Bar to upper-right

<img width="545" alt="screen shot 2017-08-25 at 9 24 15 am" src="https://user-images.githubusercontent.com/2665840/29715900-4898940a-8977-11e7-9f9c-0d5394f3e731.png">

[2017-08-25 13:26] d3netxer opened #32 "Add abbreviation to subtitle"
<img width="809" alt="screen shot 2017-08-25 at 9 25 49 am" src="https://user-images.githubusercontent.com/2665840/29715938-6f60e650-8977-11e7-9c33-5ff4b7e12285.png">

[2017-08-25 13:30] d3netxer commented on #26
can we align the search bar to the left, so that is right next to the Explore Layers text on the right? The Upload Layers button can remain where it is on the right.

[2017-08-25 13:32] d3netxer commented on #26
Since we are adding a large main search bar, then we should take out the smaller search box on the left menu.

[2017-08-25 13:35] d3netxer opened #33 "Add Categories as drop down in main nav bar"
Also, make sure the unique 2C categories are added.

<img width="816" alt="screen shot 2017-08-25 at 9 34 03 am" src="https://user-images.githubusercontent.com/2665840/29716245-a53fbf70-8978-11e7-9d95-b78c5efcc0f9.png">

[2017-08-25 13:35] d3netxer commented on #33
no need to add icons, at least for now

[2017-08-25 13:37] d3netxer opened #34 "HTTPS"

[2017-08-25 13:40] d3netxer opened #35 "Add filter for Data Provider Type"
Add filter for Data Provider Type:
- Global Downloaded Data
- Local Downloaded Data
- Local Authoritative Data
- Local Workshop Data

[2017-08-25 13:43] d3netxer opened #36 "Change text from “Clear” to “Clear All” at the top of the filter list."
- Change text from “Clear” to “Clear All” at the top of the filter list.
- Add a “Clear” option for each individual filter

[2017-08-31 14:03] d3netxer opened #38 "Add sign-in warning message"
warning message:

You are about to enter a Department of State computer system or network. Use by unauthorized persons, or for unauthorized personal business, is prohibited and may constitute a violation of 18 U.S.C. 1030 and other Federal law, as well as applicable Department policies and procedures.

You have NO REASONABLE EXPECTATION OF PRIVACY while using this computer system or network. All d

[2017-08-31 14:04] d3netxer commented on #38
I added this to the base.html template

[2017-08-31 14:04] d3netxer opened #39 "Add favicon"
I added this to the site-base.html header

[2017-09-05 14:18] kalxas commented on #4
I think this has been completed.

[2017-09-05 14:18] kalxas commented on #3
Done

[2017-09-05 14:19] kalxas commented on #1
Done.

[2017-09-05 14:19] kalxas commented on #2
I think this is done now.

[2017-09-05 14:21] #2 closed

[2017-09-05 14:21] #1 closed

[2017-09-05 14:22] #3 closed

[2017-09-05 14:22] #4 closed

[2017-09-05 14:44] kalxas commented on #39
Seems to work fine, lets close the ticket.

[2017-09-13 15:07] schignel opened #42 "Adjust color scheme on filter"
The filter color scheme is a bit confusing at times. In the example below, it is difficult to tell if Raster or Vector is selected. Perhaps instead of having turquoise lettering for the label that is currently not selected (in this case Vector), we could have grey lettering, which would match the color of the adjacent bubble with the layer count.

![image](https://user-images.githubusercontent.com

[2017-09-13 21:58] kalxas commented on #35
Actually we might have a conflict in ISO with this field.
ISO includes ```CI_ResponsibleParty``` and a ```CI_RoleCode```attribute that can have the value of "Resource Provider" or "Data Provider", but there is no Data Provider Type.
And if we think about it, the above values refer to the data itself and not to the provider.

[2017-09-20 16:08] kalxas commented on #38
@d3netxer your commit has been merged and deployed to production.
Can you please close this issue?

[2017-09-20 16:24] d3netxer commented on #38
closed!

[2017-09-20 16:24] #38 closed

[2017-09-20 16:24] #39 closed

[2017-09-20 16:25] #32 closed

[2017-09-20 17:03] kalxas opened #47 "Add Google Analytics to the production 2C site"
#41

[2017-09-20 17:57] kalxas opened #48 "Fix raster display issues (SLDs) - create and apply the styles manually"
Most raster layers currently available in the production site use the default styling rules from GeoServer. This way they cannot be previewed properly (thumbnail or WMS preview).

We need to group those layers (by category e.g. all aspect files together) and create custom styles for them.

[2017-09-20 17:57] #47 closed

[2017-09-20 19:37] kalxas opened #49 "Establish protocol for bulk uploading with a xls or csv attached containing the metadata for all files in the package"

[2017-09-20 19:38] kalxas commented on #49
Fixed, protocol is in place and bulk uploads work in production

[2017-09-20 19:38] #49 closed

[2017-09-20 19:40] kalxas commented on #48
This will be done with SLD templates

[2017-09-20 19:43] kalxas opened #50 "Check/verify how keywords are displayed and handled by the search engine"

[2017-09-20 19:45] kalxas opened #51 "Make keywords filtering / faceted search work like CKAN - simultaneous to lines 1-10"

[2017-09-20 19:47] kalxas opened #52 "Thumbnail issues"
Clicking the "set thumbnail" button does not work for many of the layers

[2017-09-20 19:48] kalxas commented on #52
Fixed.

[2017-09-20 19:48] #52 closed

[2017-09-20 19:50] kalxas opened #53 "Remove "Permissions" from the metadata form and be clearer about how these contact records are assigned in the UI"

[2017-09-20 19:51] kalxas opened #54 "Finalize how License and Restrictions Fields are to be handled and update UI + Spreadsheet setup."

[2017-09-20 19:52] kalxas opened #55 "Add "Data Provider Type" and "City" fields in the Metadata form. AssignData Provider Type to appropriate in ISO and set City as a keyword"
Assign Data Provider Type to appropriate place in ISO and set City as a keyword.

[2017-09-20 19:52] kalxas commented on #55
Related to #35

[2017-09-20 19:53] kalxas opened #56 "Add the new metadata fields to the metadata wizard"

[2017-09-20 19:54] kalxas opened #57 "Investigate how to change the help text in the metadata form and provide alternate text."

[2017-09-20 19:54] kalxas opened #58 "Remove the Dataset Attributes panel in the Metadata Form on GeoNode (until this works in the new geonode-client UI)"

[2017-09-20 19:56] kalxas opened #59 "Match field naming and order between spreadsheet and new metadata form and metadata preview + full html listing"

[2017-09-20 19:56] kalxas opened #60 "Test uploading with new django-osgeo-importer"

[2017-09-20 19:57] kalxas opened #61 "Add in a satellite layer as an alternative for users (currently only OSM)"

[2017-09-20 20:02] kalxas opened #62 "Download issues"
* For certain layers, GeoNode is offering many formats which are duplicates or simply do not work
* Many raster layers are coming down as a .wcs file with no data in it

[2017-09-20 20:02] kalxas commented on #62
This has been fixed in production.

[2017-09-20 20:02] #62 closed

[2017-09-20 20:03] kalxas opened #63 "GeoNode migration from 2.4 to 2.6"

[2017-09-20 20:03] kalxas commented on #63
Done

[2017-09-20 20:03] #63 closed

[2017-09-20 20:05] kalxas opened #64 "Map creation issues"
Adding more than one layer in maps seems to not be working

[2017-09-20 20:05] kalxas commented on #64
Fixed in production.

[2017-09-20 20:05] #64 closed

[2017-09-20 20:08] kalxas opened #65 "The "replace" layer button rarely works--at least for raster layers"

[2017-09-20 20:08] kalxas commented on #65
Has been fixed as part of the bulk upload process

[2017-09-20 20:08] #65 closed

[2017-09-20 20:09] kalxas opened #66 "Add baselayer as always displayed in thumbnail saving widget"

[2017-09-20 20:09] kalxas commented on #66
Fixed in GeoNode (upstream)

[2017-09-20 20:09] #66 closed

[2017-09-20 20:13] kalxas opened #67 "GeoServer monitoring"

[2017-09-20 20:15] kalxas commented on #67
![screenshot_20170920_231449](https://user-images.githubusercontent.com/383944/30665410-899554ce-9e59-11e7-862e-f0a2bae098be.png)

[2017-09-20 20:15] #67 closed

[2017-09-20 20:18] kalxas opened #68 "Raster optimization for serving WMS"
Raster layers are not properly prepared for WMS serving and this is causing memory consumption for GeoServer.

[2017-09-20 20:18] kalxas commented on #68
Fixed in production GeoServer

[2017-09-20 20:18] #68 closed

[2017-09-20 20:19] kalxas opened #69 "Staging environment at 2c.terranodo.io"
A beta deployment is needed so that new features and fixes are tested before going to production

[2017-09-20 20:19] kalxas commented on #69
Done

[2017-09-20 20:19] #69 closed

[2017-09-20 20:21] kalxas opened #70 "Layer owner / permission issues"
Most layers are not visible from anonymous users.

[2017-09-20 20:21] kalxas commented on #70
Fixed in production

[2017-09-20 20:21] #70 closed

[2017-09-20 20:23] kalxas opened #71 "Categories cleanup"
Categories are not shown properly, lots of empty records.

[2017-09-20 20:24] kalxas opened #72 "Metadata Audit"
Metadata have been exported to a spreadsheet for review, once done they will be re-uploaded in the geonode database

[2017-09-20 20:25] kalxas commented on #71
This is part of the Metadata Audit task (#72)

[2017-09-20 20:26] kalxas commented on #71
We have already tested the process of deleting all current categories from the geonode database and restoring from the spreadsheet and looks good

[2017-09-20 20:27] kalxas opened #73 "Keywords migration/fix"
Keywords need to be migrated from 2.4 geonode models to 2.6 (to use the hierarchical keyword feature)

[2017-09-20 20:29] kalxas opened #74 "Migration of links, links not working properly."

[2017-09-20 20:29] kalxas commented on #74
This was an issue after the migration, fixed in production now

[2017-09-20 20:29] #74 closed

[2017-09-20 20:37] kalxas opened #76 "Remove "Upload Layer" button from layers page"
This is to help partners use the bulk upload process

[2017-09-23 12:51] kalxas opened #77 "Upload Medellin SRTM 10m contours"

[2017-09-23 19:07] kalxas commented on #77
Done:
http://secondarycities.geonode.state.gov/layers/geonode:med_contour_10m_smoothed_srtm

[2017-09-23 19:07] #77 closed

[2017-09-26 19:31] kalxas opened #78 "Search and filter results cover the actual text while typing"

[2017-09-26 19:36] kalxas opened #79 "Remove the Dataset Attributes panel in the Metadata Form on GeoNode (until this works in the new geonode-client UI)"

[2017-09-26 19:40] kalxas opened #80 "Clicking the "set thumbnail" button does not work for many of the layers"

[2017-09-26 19:41] kalxas opened #81 "Match field naming and order between spreadsheet and new metadata form and metadata preview + full html listing"

[2017-09-26 19:42] kalxas opened #82 "Finalize how License and Restrictions Fields are to be handled and update UI + Spreadsheet setup"

[2017-09-26 19:44] kalxas opened #83 "Add "Data Provider Type" and "City" fields in the Metadata form. AssignData Provider Type to appropriate in ISO and set City as a keyword"

[2017-09-26 19:49] kalxas opened #84 "Add the Lineage field to the metadata wizard and add a Lineage column in the spreadsheet for some of the info we currently have in Data Quality Statement field"

[2017-09-26 19:51] kalxas opened #85 "Investigate how to change the help text in the metadata form and provide alternate text"

[2017-09-26 19:52] kalxas opened #86 "Remove "Permissions" from the metadata form and be clearer about how these contact records are assigned in the UI"

[2017-09-26 20:00] kalxas opened #87 "Expandable text view in metadata Otherwise metadata descriptions are cut off after a couple of lines"

[2017-09-26 20:05] kalxas opened #88 "Technical guidance / best practices for symbolizing raster and vector layers to help prepare the protocol so users can do this themselves"

[2017-09-26 20:05] kalxas opened #89 "Guidance on plugins/extensions (e.g. SLD4Raster)"

[2017-09-26 20:06] kalxas opened #90 "Add tokenization to the keywords entry widget"

[2017-09-26 20:07] kalxas opened #91 "The "replace" layer button rarely works - at least for raster layers"

[2017-09-26 20:08] kalxas opened #92 "Add baselayer as always displayed in thumbnail saving widget"

[2017-09-26 20:08] kalxas opened #93 "Assign region automatically based on BBOX of the data"

[2017-09-26 20:09] kalxas opened #94 "Investigate automated translation tools and best practices for multilingual metadata handling"

[2017-09-26 20:09] kalxas opened #95 "Setup Thesaurus Keywords for testing"

[2017-09-26 20:10] kalxas opened #96 "Modification to base GeoNode repo to replace shopping cart icons in UI"

[2017-09-26 20:14] kalxas commented on #84
Duplicate of #56

[2017-09-26 20:14] #84 closed

[2017-09-26 20:15] d3netxer commented on #96
Last here I searched and found replacement icons and documented them in this issue in the main Github GeoNode repo: https://github.com/GeoNode/geonode/issues/2762

[2017-09-26 20:17] kalxas commented on #92
Duplicate of #66

[2017-09-26 20:17] #92 closed

[2017-09-26 20:19] kalxas commented on #91
Duplicate of #65

[2017-09-26 20:19] #91 closed

[2017-09-26 20:32] kalxas commented on #83
Related to #35

[2017-09-26 20:33] kalxas commented on #83
Duplicate of #55

[2017-09-26 20:33] #83 closed

[2017-09-26 20:37] kalxas commented on #85
Duplicate of #57

[2017-09-26 20:38] #85 closed

[2017-09-26 20:41] kalxas commented on #82
Duplicate of #54

[2017-09-26 20:41] #82 closed

[2017-09-28 19:14] kalxas commented on #58
Duplicate of #79

[2017-09-28 19:14] #58 closed

[2017-10-01 11:08] kalxas commented on #48
Result preview on beta:
http://2c.terranodo.io/layers/?limit=100&offset=0&type__in=raster

[2017-10-02 08:01] schignel commented on #48
1) it looks like the NoData values are showing up as white. Is it possible to have these be blank?

2) the port harcourt elevation map looks like its got some errors in it (or did we already know this?)

3) Steve needs to redo the Aspect SLD so it shows aspect classifications

4) The NDVI_binary .sld should be applied to this layer: http://2c.terranodo.io/layers/geonode:mekelle_ndvi_vegetation2#ma

[2017-10-02 20:12] kalxas opened #99 "Bulk Upload: Cusco 30m SRTM"

[2017-10-02 20:12] kalxas commented on #99
Uploaded 17 Sep 2017

[2017-10-02 20:12] #99 closed

[2017-10-02 20:13] kalxas opened #100 "Bulk Upload: GHSL"

[2017-10-02 20:13] kalxas commented on #100
Uploaded on 5 Mar 2017

[2017-10-02 20:13] #100 closed

[2017-10-02 20:14] kalxas opened #101 "Bulk Upload: HydroAnalysis"

[2017-10-02 20:14] kalxas commented on #101
Uploaded on 11 May 2017

[2017-10-02 20:14] #101 closed

[2017-10-02 20:15] kalxas commented on #77
Uploaded on 18 Sep 2017

[2017-10-02 20:16] kalxas opened #102 "Bulk Upload: Port Harcourt Heat Load Index"

[2017-10-02 20:16] kalxas commented on #102
Uploaded on 18 Sep 2017

[2017-10-02 20:16] #102 closed

[2017-10-02 20:17] kalxas opened #103 "Bulk Upload: Port Harcourt SRTM corrections"

[2017-10-02 20:17] kalxas commented on #103
Uploaded on 17 Sep 2017

[2017-10-02 20:17] #103 closed

[2017-10-02 20:18] kalxas opened #104 "Bulk Upload: SRTM"

[2017-10-02 20:18] kalxas commented on #104
Uploaded on 30 Jun 2017

[2017-10-02 20:18] #104 closed

[2017-10-02 20:22] kalxas opened #105 "Bulk Upload: Douala"

[2017-10-02 20:22] kalxas commented on #105
Uploaded on 30 Jun 2017

[2017-10-02 20:22] #105 closed

[2017-10-02 20:23] kalxas opened #106 "Bulk Upload: Esmeraldas"

[2017-10-02 20:23] kalxas commented on #106
Uploaded on 17 Jul 2017

[2017-10-02 20:23] #106 closed

[2017-10-02 20:23] kalxas opened #107 "Bulk Upload: Kharkiv"

[2017-10-02 20:24] kalxas commented on #107
Uploaded on 15 Jun 2017

[2017-10-02 20:24] #107 closed

[2017-10-02 20:25] kalxas opened #108 "Bulk Upload: Mekelle"

[2017-10-02 20:25] kalxas commented on #108
Uploaded on 30 Jun 2017

[2017-10-02 20:25] #108 closed

[2017-10-02 20:26] kalxas opened #109 "Bulk Upload: Pokhara"

[2017-10-02 20:26] kalxas commented on #109
Uploaded 30 Jul 2017

[2017-10-02 20:26] #109 closed

[2017-10-02 21:44] #81 closed

[2017-10-02 21:46] #86 closed

[2017-10-02 21:46] kalxas commented on #86
Duplicate of #53

[2017-10-03 16:24] waybarrios commented on #35
## Work in process

![image](https://user-images.githubusercontent.com/6794828/31136237-3cd5b916-a82d-11e7-9771-0be1802d09ac.png)

[2017-10-03 16:33] kalxas commented on #35
Thanks @waybarrios

[2017-10-03 16:54] kalxas commented on #48
@schignel thanks for the feedback.
1. I will review the templates for nodata values
2. This issue is only in beta site (probably due to some test we did). The production page looks ok http://secondarycities.geonode.state.gov/layers/geonode:por_elevation_30m_srtm#map=87.23050933166155/781513.93/536279.64/0
3. ok, thank you
4. Will apply this style manually on GeoServer for this layer
5. thank you

[2017-10-03 17:45] kalxas opened #110 "Projection issue with Cusco, Medellin, and Santiago Data"
We did a test upload of the new datasets and GeoServer reads EPSG:404000 instead of WGS_1984_Web_Mercator_Auxiliary_Sphere

This is the projection file:
```PROJCS["WGS_1984_Web_Mercator_Auxiliary_Sphere",GEOGCS["GCS_WGS_1984",DATUM["D_WGS_1984",SPHEROID["WGS_1984",6378137.0,298.257223563]],PRIMEM["Greenwich",0.0],UNIT["Degree",0.0174532925199433]],PROJECTION["Mercator_Auxiliary_Sphere"],PARAMETER[

[2017-10-03 17:46] kalxas commented on #110
This one looks similar:
https://github.com/GeoNode/geonode/issues/1231

[2017-10-03 19:01] schignel commented on #48
Thanks @kalxas, I'll be sending you the updated .slds shortly.

Also, I just noticed that it looks like the births layer is missing the pink style: http://2c.terranodo.io/layers/geonode%3Anpl2010adjustedbirths#map=88.94130617305791/9349646.35/3274180.73/0

[2017-10-03 19:13] schignel commented on #48
Another strange thing is that it appears that the map shows the red-orange built-up 1975-1990 class at a zoomed out scale, but that it disappears when zoomed in.

![image](https://user-images.githubusercontent.com/19474876/31143956-6dec96d0-a87f-11e7-8dba-3371424df447.png)

![image](https://user-images.githubusercontent.com/19474876/31143983-80bc791a-a87f-11e7-914a-c256d9841d74.png)

[2017-10-03 20:49] schignel commented on #48
Hi @kalxas, I'm attaching the updated styles for Aspect, GHSL_DM, and GHSL_Confidence. These should all be applied exactly as they are (not scaled to min-max), since each of these data types have their own value classes and legends.

Additionally, we should delete any of aspect layers labeled "[classified](http://2c.terranodo.io/search/?title__icontains=Medellin:%20Aspect%20(classified)&limit=100&

[2017-10-03 21:17] schignel commented on #48
Hi @kalxas, I also made a .sld for the Contour line vector files (attached). I generated it off of the [10m contour for Cusco](http://2c.terranodo.io/layers/geonode:cus_contour_10m_smoothed_srtm#map=152.8740565703525/-8016336.23/-1537331.57/0).

I'm not sure if it can be scaled to min-max values for the other contour layers, since these are vector data, but let me know what you think. If we could

[2017-10-03 21:24] schignel commented on #96
This may already be planned, but I would suggest adding the option to download all of the selected layers:

![mockup](https://user-images.githubusercontent.com/19474876/31149922-fd625090-a891-11e7-9672-5228976b18bb.png)

[2017-10-03 21:49] sophialinn opened #111 "Bulk Upload: Cusco"
The partner-provided Cusco data is ready to be uploaded from:
https://drive.google.com/drive/folders/0B2Oc3HZSI7QFaVk5NDl6TkVIYTQ?usp=sharing

[2017-10-05 17:34] sophialinn opened #112 "Bulk Upload: Medellin"
Data and metadata for Medellin are ready to be uploaded from here: https://drive.google.com/drive/folders/0B2Oc3HZSI7QFRlpzenc5clNiSjA?usp=sharing

There is a second folder of (identical) data with suffix "_reprojected_2" but it appears to be the same projection as the original data folder. Feel free to check it, but I think it's the same.

[2017-10-05 19:27] sophialinn opened #113 "Bulk Upload: Santiago"
The Santiago data and metadata are ready to be uploaded. I removed all accents from the filenames (in the data folder and metadata spreadsheet) and also added the prefix of "san_" to all datasets to avoid possible filename-conflict with other existing datasets. Data and metadata can be found here:
https://drive.google.com/open?id=0B2Oc3HZSI7QFOUdyaFBvSHcyS1U

[2017-10-05 21:06] sophialinn opened #114 "Bulk Upload: Mekelle"
Mekelle data and metadata are ready for upload. They can be found here:

https://drive.google.com/open?id=0B2Oc3HZSI7QFdlE3Z1k4SzhaSFk

[2017-10-08 13:12] kalxas commented on #110
Just replaced the prj file with this:
[code]

Test upload:
http://2c.terranodo.io/layers/geonode:amenaza_avtorrenciales#map=38.583184112678474/-8417158.25/699270.43/0

[2017-10-08 17:51] kalxas commented on #48
I have applied the correct style for NDVI
http://2c.terranodo.io/layers/geonode:mekelle_ndvi_vegetation2#map=37.99126222393078/4394377.88/1517650.1/0

[2017-10-08 20:52] kalxas commented on #76
Fixed and applied to production

[2017-10-08 20:52] #76 closed

[2017-10-08 20:53] kalxas commented on #31
Fixed and applied to production

[2017-10-08 20:53] #31 closed

[2017-10-08 20:53] kalxas commented on #30
Fixed and applied to production

[2017-10-08 20:53] #30 closed

[2017-10-08 20:54] kalxas commented on #26
Fixed

[2017-10-08 20:54] #26 closed

[2017-10-09 21:37] kalxas commented on #48
@schignel for the Aspect SLD I have both "Aspect" and "Aspect_Transformation" in the spreadsheet so I renamed the previous SLD to "Aspect_Transformation". Is that ok?

[2017-10-09 22:02] sophialinn opened #116 "Bulk Upload: Bounding Boxes"
Data and metadata representing the bounding boxes used to clip SRTM and WorldPop data for 10 cities are ready to be uploaded from here:

https://drive.google.com/open?id=0B2Oc3HZSI7QFeGkwNXhSSy1sUk0

[2017-10-09 22:17] schignel commented on #48
Hi @kalxas I believe those are actually referring to two different layer types. "Aspect" is the regular aspect map (0-360 slope direction) and "Aspect_Transformation" is the TRASP dry-wet [transformation](http://2c.terranodo.io/layers/geonode%3Acus_aspect_transformation_30m_srtm#map=74.35897863280648/-8013515.97/-1521061.82/0) with values from 0-1.

Let me know if that makes sense or if I'm misund

[2017-10-10 14:08] kalxas commented on #110
ok, the solution did not work for everyone else, so starting from scratch:
This is the definition of the reference system:
http://spatialreference.org/ref/sr-org/7150/
It does not have an EPSG code assigned, so GeoServer does not seem to support it by default.

[2017-10-10 19:32] kalxas commented on #110
ok, GeoServer is now patched on 2c.terranodo.io and seems to work fine with the ECB datasets:
http://2c.terranodo.io/layers/geonode:amenaza_avtorrenciales

[2017-10-10 20:15] kalxas commented on #110
patch applied to production server as well.

[2017-10-10 21:08] kalxas commented on #48
Since you did not provide 2 slds initially I thought this was a typo....

[2017-10-10 21:11] kalxas commented on #48
ok @schignel , I will apply the correct style now and redo the list from the spreadsheet you provided

[2017-10-10 21:17] schignel commented on #48
Ok sounds good, thanks!

[2017-10-10 22:46] kalxas commented on #48
@schignel new styles are now applied to 2c.terranodo.io, only item left to fix is the no data values.

[2017-10-12 12:04] kalxas commented on #48
ok, the no data values were just added.
@schignel please review so we can close this ticket.

[2017-10-12 13:34] schignel commented on #48
Thanks @kalxas we can close.

[2017-10-12 14:05] #48 closed

[2017-10-12 14:06] sophialinn opened #117 "Bulk Upload: Update Metadata for Existing Data Layers"
As part of the Data Audit (months ago), CSU updated the metadata for many of the existing datasets in the GeoNode by filling in or updating a metadata spreadsheet, and adding the new metadata fields as well. The updates were made for CSU Global Downloaded Data, as well as for data for four other cities. There are separate sheets for: 1) CSU Global Downloaded, 2) Kharkiv and Pokhara, and 3) Cusco a

[2017-10-12 17:39] kalxas commented on #117
Thanks @sophialinn
I will make sure to upload the metadata first for those layers.

[2017-10-12 21:28] sophialinn opened #118 "Bulk Upload: Esmeraldas, Sept. 2017"
Additional data and metadata from Esmeraldas (Sept. 2017) are ready for upload. They can be found here: https://drive.google.com/drive/folders/0B2Oc3HZSI7QFYXh0MWhMZVUzcnc?usp=sharing

[2017-10-13 16:59] kalxas commented on #117
Metadata for Cusco and Medellin updated on beta site:
[code]

[2017-10-13 17:13] kalxas commented on #117
Global Downloaded metadata updated on beta site:
[code]

[2017-10-13 17:18] kalxas commented on #117
Kharkiv and Pokhara metadata uploaded to beta site:
[code]

[2017-10-13 18:54] kalxas commented on #116
Data uploaded to http://2c.terranodo.io

[2017-10-13 19:17] kalxas commented on #114
Bulk Upload result:
[code]

[2017-10-13 19:19] kalxas commented on #114
Metadata update result:
[code]

[2017-10-13 19:33] kalxas commented on #114
Data uploaded to http://2c.terranodo.io

[2017-10-13 20:33] kalxas commented on #118
Vector files uploaded:
[code]

[2017-10-13 20:55] kalxas commented on #118
Raster file uploads:
[code]

[2017-10-13 20:57] kalxas commented on #118
Data available for review at http://2c.terranodo.io

[2017-10-13 21:04] kalxas commented on #118
Errors from metadata update script:
[code]

[2017-10-13 21:29] kalxas commented on #113
Data uploaded:
[code]

[2017-10-13 21:31] kalxas commented on #113
Metadata update output (with issues):
[code]

[2017-10-14 08:21] kalxas commented on #113
Metadata update output (with issues):
[code]

[2017-10-14 08:21] kalxas commented on #113
Reprojecting to WGS84 gives the following data issues:
[code]

[2017-10-14 08:35] kalxas commented on #118
Thanks @sophialinn , metadata working fine now:
[code]

[2017-10-14 09:00] kalxas commented on #113
All Santiago files open fine in QGIS as EPSG:3857

[2017-10-14 09:03] kalxas commented on #113
After reprojecting to EPSG:3857 using OGR, upload was successful

[2017-10-14 09:29] kalxas commented on #113
Had to reproject all layers to EPSG:4326 in order to get them to render in GeoServer.

[2017-10-14 09:47] kalxas commented on #113
Spreadsheet issues fixed:
[code]

[2017-10-14 18:48] kalxas commented on #111
Raster uploads:
[code]

[2017-10-14 19:15] kalxas commented on #111
Vector uploads:
[code]

[2017-10-14 19:25] kalxas commented on #111
Metadata update:
[code]

[2017-10-14 20:54] kalxas commented on #113
Thumbnail for "Santiago: Surveyed Homes" looks strangely warped, though it looks ok on the layer preview page.

[2017-10-14 20:54] kalxas commented on #118
We need .slds for the Esmeraldas raster files.

[2017-10-14 21:01] kalxas opened #119 "Create SLDs for new Esmeraldas and Cusco raster layers"
http://2c.terranodo.io/layers/geonode:ras10
http://2c.terranodo.io/layers/geonode:ras17
http://2c.terranodo.io/layers/geonode:ras09
http://2c.terranodo.io/layers/geonode:esmeraldas_floodsusceptibility_30m
http://2c.terranodo.io/layers/geonode:esmeraldas_dsm_5m
http://2c.terranodo.io/layers/geonode:esmeraldas_massmovementssusceptibility_30m
http://2c.terranodo.io/layers/geonode:esmeraldas_dtm_5m

[2017-10-14 21:32] kalxas commented on #112
Upload log:
[code]

[2017-10-14 21:33] kalxas commented on #112
And the 2 files that caused problems with the filenames:
[code]

[2017-10-14 21:36] kalxas commented on #112
Metadata update log:
[code]

[2017-10-14 21:45] kalxas commented on #111
Problem uploading PADRON_IE.shp:
[code]

[2017-10-15 09:50] kalxas commented on #117
Done.

[2017-10-15 09:50] #117 closed

[2017-10-15 09:59] kalxas commented on #116
Data uploaded to http://secondarycities.geonode.state.gov

[2017-10-15 09:59] #116 closed

[2017-10-15 10:13] kalxas commented on #114
Data uploaded to http://secondarycities.geonode.state.gov/

[2017-10-15 10:13] #114 closed

[2017-10-15 10:27] kalxas commented on #118
Data uploaded on http://secondarycities.geonode.state.gov

[2017-10-15 10:28] #118 closed

[2017-10-15 10:33] kalxas commented on #110
Data re-projected to WGS84

[2017-10-15 10:33] #110 closed

[2017-10-15 11:03] kalxas commented on #113
Data uploaded to http://secondarycities.geonode.state.gov

[2017-10-15 11:03] #113 closed

[2017-10-15 13:32] kalxas commented on #111
Data uploaded to http://secondarycities.geonode.state.gov/

[2017-10-15 13:33] kalxas commented on #111
The problem with PADRON_IE.shp did not happen in production, since GeoServer is better optimized in the production environment.

[2017-10-15 13:33] #111 closed

[2017-10-15 13:39] kalxas commented on #112
Data uploaded to http://secondarycities.geonode.state.gov/

[2017-10-15 13:55] #112 closed

[2017-10-16 08:08] schignel commented on #119
If easy, the following layers can have the "elevation" style applied to them:

http://2c.terranodo.io/layers/geonode:esmeraldas_dsm_5m
http://2c.terranodo.io/layers/geonode:esmeraldas_dtm_5m

[2017-10-16 08:23] schignel commented on #119
Hi @kalxas, ras09, ras10, and ras17 are all satisfaction heat maps, so I've created a single style to applied to all of them (attached). This should scale to each layer's min/max values if possible.

[Satisfaction.zip](https://github.com/state-hiu/2C-GeoNode/files/1386655/Satisfaction.zip)

[2017-10-16 08:33] schignel commented on #119
Attached are styles for the two susceptibility rasters:

http://2c.terranodo.io/layers/geonode:esmeraldas_massmovementssusceptibility_30m
http://2c.terranodo.io/layers/geonode:esmeraldas_floodsusceptibility_30m

[Susceptibility.zip](https://github.com/state-hiu/2C-GeoNode/files/1386683/Susceptibility.zip)

[2017-10-16 11:38] kalxas commented on #80
This issue has been fixed upstream:
https://github.com/GeoNode/geonode-client/releases/tag/v1.0.0

[2017-10-16 11:38] #80 closed

[2017-10-18 16:05] sophialinn opened #120 "Bulk Upload: Santiago GHSL"
Data and metadata are ready to be uploaded for Santiago Global Human Settlement Layer (GHSL). All of the other cities have GHSL data; Santiago had not been processed when we uploaded the others. Here's the link: https://drive.google.com/drive/folders/0B2Oc3HZSI7QFazhqdEhXUkVOVFU?usp=sharing

[2017-10-18 16:06] sophialinn commented on #120
Metadata updates for the other GHSL layers is forthcoming.

[2017-10-19 19:34] Lenninlasd commented on #51
Limit to 10 and text filter:
![atcl6bd8pe](https://user-images.githubusercontent.com/7197750/31790282-915bb2e2-b4da-11e7-9fbe-0553bc509d8d.gif)

[2017-10-20 12:18] kalxas commented on #71
All categories now dropped on 2c.terranodo.io

[2017-10-20 18:57] sophialinn opened #121 "Bulk Upload: Update to Metadata for Existing GHSL layers"
Updated metadata for the Global Human Settlement Layers (GHSL) are ready to be uploaded. Here's the link: https://docs.google.com/spreadsheets/d/1zhe9TCQ6XJ1GV1CYBEfaFTriMBrt9VM1pVRQ-Edw34c/edit?usp=sharing

[2017-10-20 20:31] kalxas commented on #121
Update log:
[code]

[2017-10-20 21:43] sophialinn opened #122 "Bulk Upload: New metadata spreadsheet for HydroAnalysis and Santiago SRTM and WorldPop"
The two "old" versions of these metadata spreadsheets have been updated with the NEW metadata spreadsheet--adding missing fields and removing unnecessary fields. These are for the:

HydroAnalysis layers: https://docs.google.com/spreadsheets/d/1VxuHtfyrwuFSczoEVdhaFDBaBnukFvAdQu-7zszp538/edit#gid=1991486483

and

Santiago SRTM_WorldPop: https://docs.google.com/spreadsheets/d/1npM8VyDZ8BPgT5CxyedCv2

[2017-10-21 17:03] kalxas commented on #122
@sophialinn metadata uploaded on 2c.terranodo.io

[2017-10-21 19:15] kalxas commented on #119
Thanks @schignel
I will add those layers in the raster spreadsheet, add the new templates and re-run the process.

[2017-10-21 19:18] kalxas commented on #60
django-osgeo-importer was tested and demonstrated when stage 2 started.
I think the new bulk upload process solved this issue, at least for this development cycle.

[2017-10-21 19:19] kalxas commented on #60
I will move this item to wishlist in case we want to improve the process later.

[2017-10-21 20:02] kalxas commented on #119
Done!

[2017-10-21 20:03] kalxas commented on #119
Please check here:
http://2c.terranodo.io/layers/?limit=100&offset=0&type__in=raster

[2017-10-22 10:00] kalxas commented on #119
Deployed to production too

[2017-10-22 10:18] schignel commented on #119
Looking good, thanks @kalxas. I think we can close.

[2017-10-22 10:34] #119 closed

[2017-10-23 18:15] kalxas commented on #51
Action items:
- [ ] Clean up the keyword list
- [ ] Drop the keyword filter tab

[2017-10-23 18:17] kalxas commented on #34
Action items:
- [ ] Decide if we want full https

[2017-10-23 18:18] kalxas commented on #72
Action items:
- [ ] Check for empty "Data Provider Type" records

[2017-10-23 18:23] kalxas opened #123 "Extent filter issues"
- [ ] Add a button to draw a bounding box
- [ ] Check all browsers for bugs

[2017-10-23 18:28] kalxas commented on #28
- [ ] Autocomplete should start searching after the user provides at least X number of characters

[2017-10-23 18:42] kalxas commented on #56
We already added the Lineage field but not in the wizard.

[2017-10-23 18:42] kalxas opened #124 "Create instructions for the Bulk Upload process"

[2017-10-23 19:09] kalxas commented on #124
We will use #120 as a use case to create the instructions

[2017-10-23 19:10] kalxas commented on #122
Needs review

[2017-10-23 19:10] kalxas commented on #121
Needs review before moving to production

[2017-10-23 19:12] kalxas commented on #55
DataProviderType and City filters have been added.
Those fields will show up as a result of work being done in #59
We just need to review the 2 filters and close this issue

[2017-10-23 19:13] kalxas commented on #53
We are not using the "Upload Layer" functionality anymore, since we use Bulk Uploads.
Perhaps this should be move to lower priority or even tagged "wontfix"?

[2017-10-23 19:14] kalxas commented on #54
Perhaps this should be moved to next stage?

[2017-10-23 19:14] kalxas commented on #57
Perhaps this should be moved to next stage?

[2017-10-23 19:15] kalxas commented on #59
We are trying to finish this item this week.

[2017-10-23 19:15] kalxas commented on #61
Perhaps move to next stage?

[2017-10-23 19:18] kalxas commented on #71
According to a message from @faithrs on Slack, the final Category list that was decided some time ago, does not match what we currently have deployed on the beta site.
This is not a development related issue, since the Categories list is auto-populated from the metadata spreadsheets.

[2017-10-23 19:19] kalxas commented on #87
Perhaps move to a next stage?

[2017-10-23 19:19] kalxas commented on #78
Needs review

[2017-10-23 19:21] kalxas commented on #50
Related to full text search which is implemented now.
Also, keywords are displayed in the same way as in CKAN now.

[2017-10-23 19:22] kalxas commented on #35
The filter has been added and working on beta site.
Please review.

[2017-10-23 19:22] kalxas commented on #33
The Categories menu item has been implemented.
Needs review on beta site.

[2017-10-23 19:58] kalxas commented on #71
- [ ] Re-populate the Categories once the spreadsheets are reviewed.

[2017-10-24 19:44] sophialinn opened #125 "Bulk Upload: Esmeraldas metadata spreadsheet--"Categories" correction"
The metadata spreadsheet for Esmeraldas has been corrected. All erroneous Categories have been removed and proper categories have been assigned. New spreadsheet can be found here:
https://docs.google.com/spreadsheets/d/10qfuPeWlazbe8l1IF_fzQb2GBzYwdVD_VRWyq2e66SU/edit?usp=sharing

[2017-10-24 20:34] kalxas commented on #125
Categories were corrected on the beta site based on the provided spreadsheet.
The only issue is that "Risk" category seems to still be there, perhaps from another spreadsheet?

[2017-10-24 20:44] kalxas commented on #125
ok, Risk removed too

[2017-10-24 22:21] sophialinn opened #126 "Bulk Upload: Santiago GHSL"
The Global Human Settlement Layer (GHSL) data and metadata for Santiago are ready to be uploaded.  Here's the link to the data and metadata: https://drive.google.com/open?id=0B2Oc3HZSI7QFazhqdEhXUkVOVFU

[2017-10-24 22:23] sophialinn commented on #121
Waiting until metadata fields are fully visible in interface before reviewing.

[2017-10-25 17:45] sophialinn opened #127 "Bulk Upload: SRTMv4 Filename Correction"
Recall that some of the uploaded SRTM data files were misnamed; they included "SRTMv4" in the name when, in fact, the data was not from SRTMv4. This bulk upload of data and metadata is correcting those names. NOTE: Once this upload is complete, please DELETE any remaining datasets in the database that have "SRTMv4" in their filename! Hopefully, these data will completely replace those. Here's the

[2017-10-25 18:10] kalxas commented on #34
Full HTTPS enabled.

[2017-10-25 22:31] kalxas commented on #59
Now deployed on beta. Please review.

[2017-10-26 15:35] faithrs commented on #72
Have you created the mega-spreadsheet, @kalxas? I see you removed the "work in progress" tag.

[2017-10-26 15:38] faithrs commented on #71
I believe Sophia found the problem in the Esmeraldas spreadsheet and fixed it. Categories in the drop down and in the menu on the left look good.

[2017-10-26 15:39] faithrs commented on #50
@kalxas we talked about getting rid of the keywords in the menu on the left . . .

[2017-10-26 15:42] faithrs commented on #51
@kalxas see my comment for #50

[2017-10-26 15:48] faithrs commented on #34
@state-hiu-dev Tom can you please review this or mark it complete so we can close it?

[2017-10-26 15:53] schignel commented on #89
I think we can close this one.

[2017-10-26 15:57] kalxas commented on #50
@faithrs we just fixed it so the most popular keywords show up first.
I will deploy this on beta, we can definitely switch off if you want it off

[2017-10-26 15:58] kalxas commented on #34
after this one is marked as complete, we will deploy on production and close the ticket

[2017-10-26 15:59] kalxas commented on #51
@faithrs thanks

[2017-10-26 16:27] d3netxer commented on #34
This looks good to me. It seems like the server is serving out both https and http services, which seems good to me!

[2017-10-26 16:32] kalxas commented on #72
@faithrs I did not need it after all, the errors were on just 2 spreadsheets.

[2017-10-26 16:37] kalxas commented on #34
thanks @d3netxer

[2017-10-26 16:44] schignel commented on #59
It looks like this is working great on the beta site--I think we can close and push to production.

[2017-10-26 16:46] schignel commented on #121
Appears to be working now that the new metadata fields are visible. I think we can close and move to production.

[2017-10-26 16:48] schignel commented on #120
I don't think these have been uploaded to the dev site yet, so this is still an open issue.

[2017-10-26 16:55] schignel commented on #78
I think this has been fixed and can be closed.

[2017-10-26 17:00] kalxas commented on #78
thanks @schignel
I will close after I deploy to production site (keeping open as a reminder to deploy)

[2017-10-26 17:05] kalxas commented on #59
👍

[2017-10-26 17:22] faithrs commented on #72
Actually @kalxas we still need the mega-spreadsheet in order to isolate the bad datasets e.g.. Cusco and Medellin layers. Also, can you filling the empty Data Provider Type fields as "Global Downloaded Data."

[2017-10-26 17:29] kalxas commented on #28
Autocomplete issue fixed in #130 and deployed to beta

[2017-10-26 17:39] kalxas commented on #120
yes @schignel this has not been tagged as "beta" yet, so upload pending

[2017-10-26 17:40] faithrs commented on #71
The categories are correct but they are not laid out well in the filters menu on the left. Is there anything you can do to fix how they are displayed?

[2017-10-26 17:43] schignel opened #131 "Hide (turn off) "Maps" functionality from GeoNode"
Hide the button for "Create a New Map" and remove the option to add layers to a map.

[2017-10-26 17:47] faithrs commented on #51
We like the keywords search function (it seems to be working well). Keep the search box and populate the list only after you begin the search (first three letters is great).

[2017-10-26 17:47] schignel opened #132 "Remove "Maps" button from top menu bar"
![image](https://user-images.githubusercontent.com/19474876/32068336-598d92fc-ba86-11e7-88bf-bb42ef18f409.png)

[2017-10-26 17:49] faithrs commented on #50
@kalxas see comment in #51

[2017-10-26 17:54] faithrs commented on #28
@kalxas Ready to be closed!

[2017-10-26 17:59] faithrs commented on #79
We aren't using the metadata form so this is ready to close.

[2017-10-26 18:11] faithrs commented on #55
Ready to close.

[2017-10-26 18:13] faithrs commented on #59
Ready to close.

[2017-10-26 18:21] kalxas commented on #79
thanks @faithrs

[2017-10-26 18:21] #79 closed

[2017-10-26 18:22] kalxas commented on #55
will move to production, thanks

[2017-10-26 18:26] faithrs commented on #87
Need to discuss.

[2017-10-26 18:26] kalxas commented on #50
Can we mark this one as reviewed and keep commenting on #51 ?

[2017-10-26 18:29] faithrs commented on #61
Ready to close. We do not want to pursue this at this time.

[2017-10-26 18:33] faithrs commented on #60
Yes - we agree. Please move to wish list.

[2017-10-26 18:58] faithrs commented on #57
As it applies to wizard development. See issue #60

[2017-10-26 19:08] schignel commented on #54
Hi @kalxas, it looks like some layers don't have either of these fields, some have just "Restrictions" and some have "Maintenance Frequency." These should be correct, no?

https://2c.terranodo.io/layers/geonode:cus_ghs_built_ldsmtcnfd_globe_r2015b_3857_38_v1_0#map=156543.03392804097/0/0/0

https://2c.terranodo.io/layers/geonode:t_pdm_base_rios_quebradas#more

https://2c.terranodo.io/layers/geonode

[2017-10-26 19:10] faithrs commented on #54
Need to discuss.

[2017-10-26 19:13] faithrs commented on #53
See comment in #57 and #60  - related to wizard development.

[2017-10-26 19:15] faithrs commented on #89
Ready to close.

[2017-10-28 19:07] kalxas commented on #71
Categories fixed in #133

[2017-10-28 19:42] #89 closed

[2017-10-29 20:12] kalxas commented on #125
Fixed

[2017-10-29 20:12] #125 closed

[2017-10-29 20:13] kalxas commented on #122
Metadata uploaded on production site

[2017-10-29 20:13] #122 closed

[2017-10-29 20:14] kalxas commented on #121
Moved to production

[2017-10-29 20:14] #121 closed

[2017-10-29 20:15] #55 closed

[2017-10-29 20:15] #59 closed

[2017-10-29 20:19] #28 closed

[2017-10-29 20:19] #71 closed

[2017-10-29 20:21] kalxas commented on #72
Lets discuss this remaining action item tomorrow during our meeting

[2017-10-29 20:22] #78 closed

[2017-10-29 20:27] kalxas commented on #51
Since the title and description of this title was about keyword filtering and facets, I think this is done.
@faithrs can you please open a new ticket with the new requirements from your last comment?

[2017-10-29 20:27] #51 closed

[2017-10-29 20:27] #50 closed

[2017-10-29 20:28] #35 closed

[2017-10-29 20:41] #33 closed

[2017-10-29 20:48] kalxas commented on #56
The new fields are now in the metadata editor

[2017-10-29 20:48] #56 closed

[2017-10-29 20:57] kalxas commented on #34
@d3netxer I will need to deploy HTTPS to production in the following days. Can you please make sure that the 443 port is open in the Amazon Security Group for the production VM?

[2017-10-29 21:06] kalxas opened #134 "Keywords filter: keep the search box and populate the list only after the user starts typing (first three letters)"
https://github.com/state-hiu/2C-GeoNode/issues/51#issuecomment-339744917

[2017-10-30 16:09] faithrs commented on #51
Sorry @kalxas - I missed your message on this. Thanks for opening a new ticket.

[2017-10-30 16:29] kalxas commented on #51
no worries @faithrs
Lets discuss those tickets in today's meeting.

[2017-10-30 19:17] kalxas commented on #72
New action item:
- [ ] Export all metadata to a new spreadsheet for review

[2017-10-30 19:20] kalxas commented on #50
Going to review the keyword filter, focusing on different browsers.

[2017-10-31 22:10] d3netxer commented on #34
yes @kalxas I confirm that port 443 is open on production

[2017-11-01 11:22] kalxas commented on #34
thanks @d3netxer

[2017-11-01 20:45] sophialinn opened #135 "Bulk Upload: Denpasar ALL Partner Provided"
Denpasar data layers are ready to be uploaded. The data and metadata spreadsheet can be found here:
https://drive.google.com/drive/folders/0B2Oc3HZSI7QFYlFZX2VOUzRzeEU?usp=sharing

[2017-11-02 14:45] d3netxer opened #136 "Analyze GeoServer crash on 11-02-2017"
A user notified me that the 2C GeoNode was not working. After a quick look, I found out it was because GeoServer was down. I did a tomcat restart to bring it back up. This was the first time GeoServer went down to my knowledge in past 2 months or more.

We need to look at the logs and the GeoServer monitoring dashboard.

What is the link to the GeoServer monitoring dashboard? Also, is it possible

[2017-11-02 21:11] kalxas commented on #72
Export to spreadsheet done and pasted on Slack

[2017-11-03 14:13] sophialinn commented on #126
This issue is redundant with issue #120

[2017-11-03 15:57] kalxas commented on #126
Closing as duplicate of #120

[2017-11-03 15:57] #126 closed

[2017-11-03 18:06] sophialinn opened #137 "Bulk Upload: Port Harcourt Partner Provided"
Data and metadata are ready for upload and can be found here:
https://drive.google.com/drive/folders/0B2Oc3HZSI7QFc3ktMXJPajd1X0E?usp=sharing

[2017-11-03 19:01] sophialinn opened #138 "Unable to make edits using Metadata Editor on 2C production site"
We are trying to make simple typo corrections, but get errors that certain fields are required, for example the Data Provider Type. When I add in a valid value (e.g. Global Downloaded Data), it throws the following error: (this is just the beginning text of the error. Do you need to see the whole thing?)

Request Method: | POST
-- | --
http://secondarycities.geonode.state.gov/layers/geonode:esm_5k

[2017-11-03 20:02] faithrs commented on #138
I got the same exact error in a different layer (ValidationError at /layers/geonode:esmeraldas_administrativedivision/metadata) when trying to edit the title in the metadata editor. I tried to update the change but was notified that the Supplemental Information field was required. I added text in the box and tried to update again when the error appeared.

[2017-11-08 22:00] sophialinn opened #139 "Bulk Upload: Douala SRTM"
Data and metadata are ready to be uploaded for the SRTM-derived layers for Douala:
https://drive.google.com/drive/folders/1qVmURr0ag0QLBD_cxcd9GEgOzIB1ahQT?usp=sharing

[2017-11-09 00:39] sophialinn opened #140 "Remove "Bad" Datasets"
These datasets need to be removed from the 2C GeoNode database. (Can you see this spreadsheet?)

[REMOVE_metadata_2017-11-02_original.xlsx](https://github.com/state-hiu/2C-GeoNode/files/1455907/REMOVE_metadata_2017-11-02_original.xlsx)

[2017-11-15 14:31] kalxas commented on #139
Uploaded to beta site.
The datasets were used to compile the Bulk Upload instructions manual.

[2017-11-15 14:50] kalxas commented on #124
File shared through Google Drive

[2017-11-15 14:51] kalxas commented on #139
@d3netxer would you like to try to use the instructions to upload the data to the production site?

[2017-11-15 14:51] kalxas commented on #124
Waiting review from @d3netxer

[2017-11-16 01:22] d3netxer commented on #124
I can try reviewing and trying bulk upload tomorrow @kalxas

[2017-11-16 22:07] d3netxer commented on #139
I tried the bulk upload. I think it may have worked. Are the rasters supposed to have custom styles? They seem to be generic. Also the layers only show up when I log in. Is this supposed to happen? @kalxas

[2017-11-17 00:10] kalxas commented on #139
@d3netxer did you use the update_permissions_from_list.py script to reset permissions after updating the metadata?

[2017-11-17 00:14] kalxas commented on #139
The bulk upload worked, I can see the layers. 👍
The permissions do not seem to have been properly set.
Please reset the permissions (with environment set properly):
```$ python update_permissions_from_list.py Douala\ SRTM\ Metadata\ Spreadsheet.csv```

[2017-11-17 17:34] d3netxer commented on #139
ok @kalxas I ran the permissions script and it worked. Some of the rasters don't have a style. Is this expected?

[2017-11-17 20:12] kalxas commented on #139
Yes, the raster styles are defined through another process which is not documented yet.
I will add this part on the document next week

[2017-11-18 10:45] kalxas commented on #124
@d3netxer I am closing this since you managed to complete an upload successfully.

[2017-11-18 10:45] #124 closed

[2017-11-18 18:26] kalxas commented on #34
When trying to install certbot on production machine, I got a broken package from Launchpad.
It seems that the packages were updated some days ago.
I have reported the issue upstream, we are now on hold until this is resolved in Launchpad...

[2017-11-18 18:56] kalxas commented on #34
https://github.com/certbot/certbot/issues/5247

[2017-11-24 23:34] kalxas commented on #34
it has been almost a week without a reply on the above ticket, so I will spend some time to fix this issue myself.

[2017-11-25 12:07] kalxas commented on #34
So the problem has been fixed now and https is enabled on the production server

[2017-11-25 12:07] #34 closed

[2017-11-25 12:07] kalxas commented on #34
https://www.ssllabs.com/ssltest/analyze.html?d=secondarycities.geonode.state.gov

[2017-11-27 23:32] d3netxer commented on #137
1) There are some failures after running the reproject_vectors.shp
[code]

[2017-11-27 23:32] d3netxer commented on #137
2) During the import, 2 layers failed
[code]

[2017-11-27 23:32] d3netxer commented on #137
3) I tried running the update_metadata.py script, and it wasn't able to work on any of the uploaded layers

[2017-11-28 01:49] sophialinn commented on #137
This looks like it might be a coordinate system error from the original data from Port Harcourt. I'll look into it.

[2017-11-28 17:35] kalxas commented on #137
Some comments about the above errors:
1. Looks like some files do not have a projection defined.
2. The 2 layers not uploading seem to have an issue with infinity values, we need to investigate.
3. Metadata upload should of work, I can review the spreadsheet for errors.

[2017-11-28 17:44] kalxas commented on #137
About metadata update: it seems that all data uploaded had a leading space in their name, so GeoNode added an underscore in front of the layer name:
http://secondarycities.geonode.state.gov/layers/geonode:_2cph_portharcourt_initial_extent#map=18.375766550182792/783071.45/530825.61/0

_2cph_portharcourt_initial_extent
So this has to be fixed either on the filenames (and re-upload) or in the spreads

[2017-11-28 17:44] sophialinn commented on #137
Ah! OK. I'll do that.

[2017-11-28 17:57] kalxas commented on #137
actually I cannot find the leading space in the filenames, so perhaps this was done because of multiple upload trials?

[2017-11-28 18:00] kalxas commented on #137
Metadata issue fixed:
[code]

[2017-11-28 18:10] sophialinn commented on #137
Observations: The two layers above that "Failed to Update" have different capitalization properties than all of the others. Could that be the problem?

[2017-11-28 19:03] kalxas commented on #137
This is because the upload script and geonode convert all layer names to lower case.
Not an issue here.

[2017-11-28 20:16] kalxas commented on #137
Same import error on beta site:
[code]

[2017-11-28 20:18] kalxas commented on #137
Metadata update on beta:
[code]

[2017-11-28 20:18] kalxas commented on #137
On the beta site, I did not need to add underscore before the name in spreadsheet.

[2017-11-28 20:37] sophialinn commented on #137
port harcourt: academic institutions (2017) : Failed to update
     Exception: Layer matching query does not exist.
port harcourt: religious establishments (2017) : Failed to update
     Exception: Layer matching query does not exist.

I can't see on my end where the disconnect may be. The filenames appear to be identical between the metadata sheet and the files themselves.

[2017-11-28 23:28] kalxas commented on #137
Those layers failed to be uploaded, so they do not exist in the layers list.

[2017-11-29 15:47] d3netxer commented on #135
The Waste_Bank.shp failed to be uploaded, error message:

/home/ubuntu/Denpasar_ALL_Partner_Provided/Waste_Bank.shp
================
Traceback (most recent call last):
  File "/home/ubuntu/venvs/state_2c_geonode/src/geonode/geonode/layers/utils.py", line 625, in upload
    metadata_uploaded_preserve=metadata_uploaded_preserve
  File "/home/ubuntu/venvs/state_2c_geonode/src/geonode/geonode/layers/u

[2017-11-29 16:03] kalxas commented on #135
same error as in #137

[2017-11-29 16:07] kalxas commented on #135
When a layer starts with a number in the filename, GeoNode adds an underscore in the layer name.

[2017-11-29 16:08] kalxas commented on #135
Metadata update (2nd try)
[code]

[2017-11-29 16:55] kalxas commented on #137
I just re-uploaded, no leading underscore issue.
Those 2 layers still fail to upload with the same error

[2017-11-29 17:24] kalxas commented on #135
new upload:
[code]

[2017-11-29 17:29] kalxas commented on #135
@sophialinn I can see that the Denpasar: prefix is not used on all layers here. Is that ok?

[2017-11-29 18:43] kalxas commented on #120
Upload result:
[code]

[2017-11-29 18:44] kalxas commented on #120
Metadata update:
[code]

[2017-11-29 19:30] kalxas commented on #127
Update metadata:
[code]

[2017-11-29 19:31] kalxas commented on #127
pok_slopepercentrise_30m_srtm is missing from the data folder

[2017-11-29 19:37] sophialinn commented on #135
Not OK. We should add "Denpasar:" then the village name, so for example:  "Denpasar: Kesiman Kertalangu Village Boundary."  I have made changes to the spreadsheet BUT for some reason I am not able to see all rows in the spreadsheet--it's as if some are hidden or locked. Do you see that?

[2017-11-29 19:45] sophialinn commented on #127
It is there now!

[2017-11-29 19:50] kalxas commented on #127
thanks!

[2017-11-29 21:35] kalxas commented on #140
2 options here:
1. Create a script to remove those datasets using the list
2. Remove manually from the admin web tool (http://secondarycities.geonode.state.gov/admin/)

[2017-11-29 22:01] sophialinn commented on #135
"Waste_Bank" data set had many empty features. I deleted them and re-uploaded the data (shapefile) to the Google Drive. The metadata sheet should be good to go too.

[2017-11-29 22:07] sophialinn commented on #140
Doesn't matter to me! Whichever is most efficient.

[2017-11-29 22:11] sophialinn commented on #140
Just to check to see if it were possible, I went to the 'live' 2C GeoNode, signed in as an admin, and tried to delete one of the bad layers (centro_acopio_1). It seems to be GONE now. So that will work, but will be somewhat tedious to do for 315 layers.

[2017-11-29 22:29] d3netxer commented on #135
@sophialinn I figured out that column J was being filtered so some of the rows were not displaying. I changed the filter to select all of the values so you can see all of the rows now. You just have row 18 left to update (Sanur Kaja: Customers Waste)!

[2017-11-29 22:44] sophialinn commented on #135
Thanks, Tom. I've made that update so the whole spreadsheet *should* be ready to go. (And see if "Waste_Bank" works now too.)

[2017-11-29 22:48] melindajean commented on #140
I think we need to manually remove the layers.  Can we get started on this?

[2017-11-29 22:54] kalxas commented on #140
@sophialinn I think it is easier if you use this admin page:
http://secondarycities.geonode.state.gov/admin/layers/layer/
and select the layers to delete like this:

![screenshot_20171130_005405](https://user-images.githubusercontent.com/383944/33403412-fdf199b8-d568-11e7-9c12-a29e99b79570.png)

[2017-11-29 22:55] kalxas commented on #140
There is also a search tool on top of that page

[2017-11-29 22:55] sophialinn commented on #140
Excellent! Thanks. I'll let you know if I have any questions or trouble but will try to delete all 315 layers this way.

[2017-11-29 23:12] kalxas commented on #140
you are welcome

[2017-11-29 23:16] d3netxer commented on #135
Thanks Sophia!

[2017-11-29 23:16] d3netxer commented on #135
Waste_Bank.shp failed to import again, same error as before.

[2017-11-29 23:38] d3netxer commented on #127
Ok I uploaded it to 2C Geonode!

[2017-11-29 23:39] kalxas commented on #127
thanks @d3netxer

[2017-11-30 00:14] d3netxer commented on #135
ok I just ran the metadata script again now to update the layer names with the new titles

[2017-11-30 19:37] sophialinn commented on #127
Just noticed that the 'old' files with the "srtmv4" are still there so I will now remove those so we don't have redundant SRTM files.

[2017-11-30 21:02] kalxas commented on #140
Fixed by @sophialinn
Thanks!

[2017-11-30 21:02] #140 closed

[2017-11-30 21:03] kalxas commented on #127
Thanks for the review @sophialinn
I will keep this issue open until we get raster styles fixed

[2017-11-30 22:18] kalxas commented on #120
Raster styles updated

[2017-11-30 22:18] kalxas commented on #127
Raster styles updated

[2017-11-30 22:18] kalxas commented on #139
Raster styles updated

[2017-12-03 20:16] sophialinn commented on #135
There's a new metadata spreadsheet and data folder exclusively for the "Denpasar Water Bank" dataset. See if you can get this to upload.
 https://drive.google.com/drive/folders/0B2Oc3HZSI7QFYlFZX2VOUzRzeEU?usp=sharing

[2017-12-04 20:53] d3netxer commented on #135
I tried uploading the new Waste Bank shapefile today and it failed. Then I downloaded the file locally and tried saving new versions in QGIS and re-uploading the file to the server and trying again the import, but it kept on failing. I saved the points to CSV, then imported the CSV back into QGIS and then saved as a shapefile. This failed as well. I then started deleting some of the columns, this

[2017-12-04 20:53] d3netxer commented on #135
tom [3:52 PM]
something else seems is at play that is making debugging harder. For @kalxas : I have two shapefiles that are the same in the home directory in separate folders. The shapefile in the waste_bank12 folder is named Waste_Bank. The shapefile in the waste_bank13 folder is called Waste_Bank13. However Waste_Bank13 uploads, but Waste_Bank from the waste_bank12 folder fails with the same "qu

[2017-12-13 22:39] sophialinn commented on #140
An additional 34 layers have been deleted. These were ones that ECB reviewed and determined were "old" or redundant.

[2017-12-19 16:38] kalxas commented on #139
Completed according to last e-mail from @faithrs

[2017-12-19 16:38] #139 closed

[2017-12-19 16:39] kalxas commented on #120
Completed according to latest e-mail thread

[2017-12-19 16:39] #120 closed

[2017-12-19 16:42] kalxas commented on #134
Forgot to close this one.
Thanks @faithrs for reminder.

[2017-12-19 16:42] #134 closed

[2017-12-19 16:49] d3netxer commented on #96
I made the shopping cart icons invisible on a fork and made a pull request here: https://github.com/state-hiu/2C-GeoNode/pull/141

[2017-12-19 17:00] kalxas commented on #96
Thanks @d3netxer I will review and merge soon.

[2017-12-21 20:28] kalxas commented on #72
I just uploaded the metadata from the master spreadsheet (20-12-2017) and here are the results:
Cusco: OK
Denpasar: OK
Douala: OK
Esmeraldas: OK
Kharkiv: OK
Mekelle: OK
Pokhara: OK
Port Harcourt: OK
Santiago: OK
Medellin:
[code]

[2017-12-28 18:29] sophialinn commented on #137
Emails sent to local partner in Port Harcourt (Daniel Obriango) on Dec. 3 and Dec. 19 to request these two datasets be resent. No response received yet.

[2018-02-14 21:32] sophialinn opened #142 "Bulk Upload: Minor Editing Updates to Metadata"
This spreadsheet contains minor editing corrections that were discovered after the COMPLETE metadata upload. It only contains metadata for those items that needed corrections. Spreadsheet can be found here:
https://docs.google.com/spreadsheets/d/1RwALFrTmmW4XwwIfkPuQMgvBjFWmerQKuiOGrdo7ET0/edit?usp=sharing

[2018-02-14 21:32] sophialinn commented on #142
@d3netxer will try to do this upload.

[2018-02-16 13:52] d3netxer commented on #142
ok we got some of the meta updated:

Pokhara: Hillshade : Metadata updated!
Cusco: Observed Route of Waste Collection in Camino Real : Metadata updated!
Cusco: Proximity to Ideal Waste Sites : Metadata updated!
Cusco: Urban Edge (T4) : Metadata updated!
Cusco: Water Chemical Composition Survey Sites : Metadata updated!
Denpasar: Kesiman Kertalangu Village Boundary : Metadata updated!
Denpasar: Pem

[2018-02-16 13:56] d3netxer commented on #142
The Medellin: Collection Center layer failed on the first run. It didn't like the accent mark on the i in Medellin in one of the fields. It gave this exception ```Exception: 'ascii' codec can't decode byte 0xc3 in position 28: ordinal not in range(128)```. When I changed it to a regular 'i', it updated.

I will look into a little bit for the last layer 'medellin: recreational landscape area', I go

[2018-02-16 14:05] d3netxer commented on #142
I don't really know why the last layer doesn't update. The error begins with ```Exception: ('GeoServer gave non-XML response```...

I looked in past issues and this layer was unsuccessful updating before, I don't think it was ever resolved.

[2018-10-22 21:30] sophialinn opened #143 "Bulk Upload: Year 3 Cities, Global Datasets (Part I)"
CSU downloaded and processed data and metadata are ready to be uploaded to the 2C Geonode for the Year 3 cities. This is a **partial** upload at this point; QA/QC is pending on the other data. Note that the metadata spreadsheets are located outside the data folders in the file hierarchy.

Metadata spreadsheets and data folders are located here in the Google Drive:

[https://drive.google.com/drive/

[2018-10-23 19:19] sophialinn commented on #143
Corrections have been made to the layers below. The problem seems to be with either "spaces" or hyphens ("-") in the filenames:

Layers with errors for metadata:

boke: built-up area (data mask) : Failed to update
boke: built-up area (multi-temporal) : Failed to update
boke-kamsar: built-up area (multi-temporal) : Failed to update
indore: built-up area (multi-temporal) : Failed to update
kamsar: b

[2018-10-23 19:20] sophialinn commented on #143
Corrections have been made to the following. Error seems to be a result of "stream" vs "streams" in the filenames vs the metadata filenames.

Layers with errors for metadata:
boke: distance to streams (modeled) : Failed to update
kamsar: distance to streams (modeled) : Failed to update
pemba: distance to streams (modeled) : Failed to update

[2018-10-28 23:08] d3netxer commented on #143
Ok great. I re-ran the update metadata scripts, and it ran successfully for all of the datasets.

[2018-10-28 23:15] sophialinn commented on #143
Excellent, Tom. Since you seem to be working on this right now (!), I will let you know that the next batch is ready to go too. They can be found in the same folder:

https://drive.google.com/drive/u/0/folders/178_2KnedGcmk1ZeS_BObpfOjpLMAsj8X

- Year 3 SRTM
- Year 3 WorldPop

You will see the metadata spreadsheets for each, and the data folders with the corresponding names. Let me know how it goe

[2018-10-30 17:35] d3netxer commented on #143
Okay I uploaded all the datasets successfully. The following below had errors with the metadata update script:

### Year 3 SRTM

indore: controur (20m) : Failed to update
Exception: Layer matching query does not exist.
indore: contour (30m) : Failed to update
Exception: Layer matching query does not exist.
indore: contour (50m) : Failed to update
Exception: Layer matching query does not exist.
ind

[2018-10-30 17:36] d3netxer commented on #143
Also on another note, I fixed the thumbnail problem with the previous uploads. I figured out that I need to change the owner of the directory for the thumbnail files that get added after the script is run.

The drawing on some of the thumbnails looks skewed at the edges, but I don't know what there can be done in these cases.

[2018-10-31 21:39] sophialinn commented on #143
Multiple corrections have been made, either to filenames in the metadata or actual files were missing. Please run the scripts again. I believe there will be at least one that still isn't solved (darkhan: population 2010), but let's see what happens.

[2018-10-31 21:44] d3netxer commented on #143
Okay, tomorrow I can try keeping the data on the server, but re-downloading the spreadsheets and re-running the scripts.

[2018-10-31 21:46] sophialinn commented on #143
Sounds good. Thanks!

[2018-11-01 14:36] d3netxer commented on #143
Ok great, all layers uploaded and metadata completed successfully

[2018-11-01 16:45] sophialinn commented on #143
Really?? Amazing...

Thanks!

[2018-11-01 16:48] sophialinn commented on #143
OK, I just checked the GeoNode. I can only see those new layers when I'm logged in; is that expected? Also, some of the thumbnails are funky, but perhaps you're still working on that. Good news: we've broken 1000 datasets with this new batch!

[2018-11-01 17:29] d3netxer commented on #143
thanks for pointing this out Sophia. I forgot to re-run the permissions script after re-running the metadata scripts. I have re-run the permissions script, and it should have fixed the issue. yay!

[2018-11-01 23:46] d3netxer commented on #143
which ones? Like Kamsar:Slope? Maybe the units, for example, in units of degrees, make the values render with very low contrast in the thumbnails? I think the raster datasets might use a few generic types of symbology that may not render all types of raster well.

[2018-11-02 16:55] sophialinn commented on #143
Yes, that probably makes sense. That is, there's very little elevation or slope variation in Kamsar, but it's using the symbology from places that show more variation. Hmm. The black boxes just don't look so good though. Any ideas?

[2018-11-06 15:49] d3netxer commented on #143
I am having trouble logging into the geoserver, if I could do this, the sld styles could probably be manually adjusted.

I also noticed on the server is a script called 'fix_raster_styles.py' that seems like it could automatically adjust styles. I'm not sure how to run it however. Terranodo would probably know more about this.

[2019-04-09 20:54] d3netxer opened #145 "new security requirements for 2C GeoNode server"
Create a redirect on HTTP://secondarycities.geonode.state.gov to HTTPS://secondarycities.geonode.state.gov
-Must be a 301 or 302 header redirect

-Enable HSTS with max-age=31536000

[2019-04-25 19:58] d3netxer opened #146 "update license options in 2C GeoNode"
- we should not add a new license, but modify one of the existing options.

This is where the code resides: https://github.com/GeoNode/geonode/blob/fb00670572efdb2c5f2139146ecdbe74a5c96a9a/geonode/base/fixtures/initial_data.json#L283

This is the JSON that should be modified:
[code]

- The name should be changed to 'Pubic Domain (CC0 1.0)'
- the url should be changed to 'https://creativecommons.or

[2019-05-02 19:39] d3netxer commented on #145
This can be done by adding these header directives in the top-level server block:
[code]

Important note: There’s one important exception: if a block includes an add_header directive itself, it does not inherit headers from enclosing blocks, and you need to redeclare all add_header directives

[2019-05-02 19:41] d3netxer opened #147 "2nd new security requirement for 2C GeoNode server: disabling 3DES https ciphers"
It would be great if this could be handled in the Ansible scipts.

This is what needs to be changed. secondarycities.geonode.state.gov, uses nginx. In the /etc/letsencrypt dir, edit the options-ssl-nginx.conf file, comment out the old line and add this:
[code]
You can test the ciphers by using ssllabs.com/ssltest

[2019-05-23 13:58] kalxas opened #148 "Re-build GeoNode using 2.10.x version, along with data migration, back-up restore, crash analyzer plug-in"
We would like to understand how this update might change some of our other tasks on this list.

[2019-05-23 13:59] kalxas opened #149 "Add in a satellite layer as an alternative for users (currently only OSM)"
Goes hand in hand with the mapping issue.

[2019-05-23 13:59] kalxas opened #150 ""Create Map" function: Make it work"
Currently, you cannot add one (let alone multiple) layers to a map. This should be a fundamental function of a spatial data viewing platform. Why doesn't it work?

[2019-05-23 14:00] kalxas opened #151 "Geonode isn't reading different writing systems correctly."
We see this in Pokhara and Santiago's data. The Nepalese script shows up as a series of question marks (???????????). I think the accented letters in Santiago's data shows up as squares (⬚).

[2019-05-23 14:01] kalxas opened #152 "Enable access to all spatial data as map service (WMS) and/or provide link to REST service"

[2019-05-23 14:02] kalxas opened #153 "Test back-up and restore done by HIU admin"
This is something that needs to be practiced in conjunction with HIU Admin (Tom) and Terranodo. It would involved installing a new GeoNode from scratch, and then importing all of the data and metadata at once. There is a type of back up with an image of the server. Happens every few months. Backed up after a major upload to the site. We need a new type of back up. Geonode backup all data and setti

[2019-05-23 14:02] kalxas opened #154 "Create alerts whenever GeoNode or GeoServer crashes"
No alert to know when it goes down. Analyzer plug in. Why did it crash.

[2019-05-23 14:03] kalxas opened #155 "Link metadata and shapefiles/data layer so users download both at once and they are connected"
It would be great if some form of the metadata could be downloaded automatically with the download of the spatial data

[2019-05-23 14:03] kalxas opened #156 "Allow for unlimited characters in metadata."
Values in metadata were truncated. As a quick fix we limited the number of allowable characters that could go in each item but we may want to look at this again.This may be corrected with updated version of GeoNode

[2019-05-23 14:04] kalxas opened #157 "Activate the correct license field on the Geonode. Make it is visible on the Geonode and update metadata spreadsheet for licensing information."
Currently have no activated licencing field.

[2019-05-23 14:04] kalxas opened #158 "Metadata is missing: data provider name, type, provider, and URL when downloaded."
We customized some of the metadata fields, and when the metadata is downloaded, those fields are not included (lineage and data provider URL)

[2019-05-23 14:04] kalxas opened #159 "Add new cities to city menu"
Add to Filter and to home page on the GeoNode (pictures of each city.) This will enable us to filter the datasets for the new cities. Mel will provide photos.

[2019-05-23 14:05] kalxas opened #160 ""Extent" filter issues"
Add a button to draw a bounding box in filter. Can't add manual bounding box to see what data is available for a region; can only zoom in and out.

[2019-05-23 14:05] kalxas opened #161 "Various filter issues"
KEYWORDS and CATEGORY: Why are they not able to select/filter the datasets even though they seem to be 'finding' them (the correct number of layers is displayed when selected but none show up)?; Sometimes the Geonode says it has 1081 total data layers and other times it says it has over 1100. This usually occurs after the filter seemed like it was confused; Problem of using multiple filters. Not a

[2019-05-23 14:06] kalxas opened #162 "Enable EDITING of metadata after its been uploaded"
By creator and/or by city login (Q: Do we need to make new logins for new cities?) If the partners had access to making modifications, we would only want that to be for the attribute descriptions.

[2019-05-23 14:06] kalxas opened #163 "Enable attribute list in metadata. (It used to be there but was turned off at some point.) We want to be able to see the attribute names for each dataset but this goes along with enabling us (or partners) to create a meaningful ALIAS for what the attribute actually contains."
Can we allow partners to edit the description for attributes on the user end?

[2019-05-23 14:07] kalxas opened #164 "Test uploading with new django-osgeo-importer"
Terranodo will need to add this on our custom install most likely, Tom can help with testing. Do we want to keep on using the bulk upload scripts or do we want to try to use this django importer? Decide what we want to do. Get an update on the status of this plug in from Terranodo.

[2019-05-23 14:07] kalxas opened #165 "Bulk download data through UI"
Currently, only one layer can be downloaded at a time. There is a shopping cart. Would be helpful if you could add multiple layers to your shopping cart then download all at once (along with metadata).

[2019-05-23 14:07] kalxas opened #166 "Fix dataset (preview) rendering; edges sometimes extend off the view"
Set display of thumbnail to only show extent of data.

[2019-05-23 14:08] kalxas opened #167 "Ability to view values for each attribute"
Where could it be possible to view attribute tables? If the map functionality worked, could you open the attribute table? Should be able to view and symbolize in Maps if this were functional.

[2019-05-23 14:08] kalxas opened #168 "Check all browsers for bugs."

[2019-05-23 14:09] kalxas opened #169 "Adjust color scheme on filter"
The filter color scheme is a bit confusing at times. It is difficult to tell if Raster or Vector is selected. Perhaps instead of having turquoise lettering for the label that is currently not selected, we could have grey lettering, which would match the color of the adjacent bubble with the layer count.

[2019-05-23 14:09] kalxas opened #170 "Modification to base GeoNode repo to replace shopping cart icons in UI"
It was noticed that in the new version of GeoNode, the shopping cart icons were replace with the plus icon. If we assume the new version of GeoNode will be used, then this issue will be take care of.

[2019-05-23 14:10] kalxas opened #171 "Add tokenization to the keywords entry widget"
Chat with Mel about this issue to determine necessity. Start typing in but pre-populated values are shown.

[2019-05-23 14:10] kalxas opened #172 "Be able to add external WMS remote services to Maps page"
Do Maps already allow this? If not, how easy would it be to add this?

[2019-05-23 18:13] d3netxer commented on #172
let's discuss further. I am not sure if this depends on what type of map interface we are using.

[2019-05-30 13:39] kalxas opened #173 "Downloading data does not work in development deployment"
Option to download the data is missing for anonymous user.
For logged in users a "Request Download" button appears.

[2019-06-11 13:12] d3netxer opened #174 "testing on dev 2C GeoNode"
on June 11, 2019

Layers:

- Filters: skipped testing because they are not implemented

Kharkiv: Forest Roads
	-on dataset page, it does not appear on the preview map, and the legend does not appear
	-404 error when try to download

Kharkiv: "Rivers" (may be canals)
	- looks good

Denpasar: Roads
	- no thumbnail. I logged in a set the thumbnail, but it still doesn't show up.

Medellin: Green Corri

[2019-06-18 15:15] kalxas opened #175 "Raster data download not working for anonymous user"
e.g. https://2c.puerti.co/layers/col_ppp_v2b_2015_unadj

[2019-06-18 15:19] kalxas commented on #175
actually "download original data" works fine, it is the GeoServer downloads that do not work

[2019-06-18 15:19] ingenieroariel commented on #175
GeoServer blocks the download asking for permissions even when the layer is viewable by the public.

[2019-06-18 18:05] kalxas commented on #174
Adding feedback from Amanda and Hanna:
These are the key observations:
-          One cannot download raster files (from what I observed) without a login.
-          Layers that were broken before on 2.4 are still broken.
-          I have not observed a problem with the PRJ file or any other projection issues except with workshop data for specifically Medellin.
- The names of the zipped shapefile

[2019-06-18 20:36] ingenieroariel commented on #175
Let's leave the Download Original data links on raster + vector advertising only what works and create an issue upstream to ask for advice.

Things we tested:

 - [x] Permission for anon users to download in Django (working)
 - [x] Permission for anon users being propagated to GeoFence (working)
 - [x] Proxy-base url setting to correct public url (working)
 - [x] oauth2 application workflow links,

[2019-06-19 08:44] kalxas commented on #175
This is related to the issue of not being able to log in from GeoServer with GeoNode credentials

[2019-06-19 08:45] kalxas commented on #174
Raster download issue reported in #175

[2019-06-19 18:40] kalxas commented on #173
This is now fixed.
@d3netxer can you please confirm and close the ticket?

[2019-06-20 08:22] kalxas commented on #175
Issue fixed now, please confirm.

[2019-06-20 18:04] d3netxer commented on #175
I tested right now not being logged in, but it prompts me with a Sign-in pop-up box.

[2019-06-20 18:20] kalxas commented on #175
this is weird, it was working yesterday, need to check if something got reverted.

[2019-06-20 21:07] d3netxer commented on #174
adding more things we discussed at the meeting today:
- sorting button is not working
- The correct files are not showing for the 'original dataset' download option

[2019-06-20 21:22] arshores commented on #170
Are we able to remove this issue?

[2019-06-20 21:23] #173 closed, assigned to d3netxer, arshores

[2019-06-20 21:24] arshores opened #176 "Shapefile is missing when downloading "original dataset""

[2019-06-20 21:31] arshores opened #177 "Projection is missing underscore when downloaded as a "zipped shapefile"."
It is unclear if this is not an issue when downloading the original dataset because the shapefile is missing from that download. In GeoNode 2.4, downloading the zipped shapefile gives a projection that is projecting to the right location in Arc but Arc reads the projection file with underscores. These are missing and so you have to define the projection before you can do any analysis on the file.

[2019-06-21 07:33] kalxas commented on #170
Yes, this has been fixed in 2.10.

[2019-06-21 07:33] #170 closed, assigned to nobody

[2019-06-21 07:38] kalxas commented on #177
I see that in GeoNode 2.6, the option to download the original data was missing, so there is no way to tell if this is a new issue or not.
In any case, the "zipped shapefile" is a result of a WFS request to GeoServer so this should be a GeoServer issue.
@ingenieroariel thoughts?

[2019-06-21 07:40] kalxas commented on #177
@arshores can you please provide an example of projection file that works with Arc?

[2019-06-21 07:58] kalxas commented on #174
In order to be able to discuss those findings separately, I will open new issues for each one of them with the "migration" label.

[2019-06-21 08:04] kalxas opened #178 "Missing thumbnails in 2.10 development server"
Report from @d3netxer
Denpasar: Roads
- no thumbnail. I logged in a set the thumbnail, but it still doesn't show up.

[2019-06-21 08:07] kalxas opened #179 "Kharkiv: Forest Roads dataset broken"
It was working fine in production:
https://secondarycities.geonode.state.gov/layers/geonode:kha_forestroad_spaero#map=69.84927440351807/4039066.43/6446292.19/0

Dev:
https://2c.puerti.co/layers/kha_forestroad_spaero#/

[2019-06-21 08:15] kalxas opened #180 "The names of the zipped shapefiles are not useful"
Reported both by @arshores and @d3netxer

When downloading "Zipped Shapefile" in 2.10, the "ows.zip" filename is always used. In 2.6 the file name reflected the layer name.

[2019-06-21 08:15] kalxas commented on #180
@ingenieroariel I think this one has to do with docker deployment configuration, right?

[2019-06-21 08:20] kalxas opened #181 "Sorting button is not working in 2.10"
Original page:
https://secondarycities.geonode.state.gov/layers/?limit=100&offset=0&order_by=title

Dev page:
https://2c.puerti.co/layers/?limit=50&offset=0&order_by=title

[2019-06-21 08:26] kalxas opened #182 "Layers do not show when http version of the site it used. Might as well just do an auto-redirect to https version."

[2019-06-21 08:30] kalxas opened #183 "Documents: not able to download any of them in 2.10"

[2019-06-21 08:32] kalxas opened #184 "Deleting layers problem in 2.10"
Was not able to delete Pokhara: Births 2020 (adjusted) from interface (was logged in), or from admin interface

[2019-06-21 08:33] kalxas opened #185 "Problem to upload new layers in 2.10"
Not able to upload a shapefile, received 'unexpected error'

[2019-06-21 08:34] kalxas opened #186 "Adding users to groups"
Admin interface: Can we add users to groups?

[2019-06-21 08:40] kalxas opened #187 "GeoNode 2.10 front page issues"
- [x] add new cities #159
- [ ] search bar: add some bottom padding to magnifying glass
- [ ] fix alignment for icons
- [ ] fix alignment of the 'Explore all datasets' title
- [ ] Add "Categories" missing menu
- [ ] Disable Registration option
- [ ] Fix "Getting Started" link to point to the About page
- [ ] Add the "Search 2C GeoNode field on the top right

[2019-06-21 08:41] kalxas opened #188 "Switch to 2C favicon for 2.10"
Currently using the default GeoNode favicon

[2019-06-21 08:44] kalxas opened #189 "Enable search filters on 2.10"
Production site:
![image](https://user-images.githubusercontent.com/383944/59910035-b697b680-9419-11e9-8eca-4a009f19b559.png)

Dev site:
![image](https://user-images.githubusercontent.com/383944/59910086-da5afc80-9419-11e9-9637-ef4e6072de74.png)

[2019-06-21 08:44] #174 closed, assigned to nobody

[2019-06-21 08:45] kalxas commented on #174
All reports now have a separate issue for discussion. Thanks!

[2019-06-21 08:46] kalxas commented on #150
I think we should close this one as it is now fixed in 2.10

[2019-06-21 08:48] kalxas commented on #132
This one can now be closed since Maps work on 2.10

[2019-06-21 08:49] kalxas commented on #131
This one can now be closed since Maps work in 2.10

[2019-06-21 10:43] kalxas opened #190 "Mekelle: Site Exposure Index layer broken in 2.10"
https://2c.puerti.co/layers/mek_siteexposureindex_30m_srtm#/

[2019-06-21 10:43] kalxas opened #191 "Medellin: Recreational Landscape Area layer broken in 2.10"
https://2c.puerti.co/layers/areas_impor_recre_paisaj#/

[2019-06-21 14:47] arshores commented on #177
All files in the geonode act this way, regardless of the original
projection.

On Fri, Jun 21, 2019, 1:40 AM Angelos Tzotsos <notifications@github.com>
wrote:

[2019-06-21 17:44] kalxas commented on #175
This issue is not about permissions, but about download links.
The GeoTiff link points to the /gs/ endpoint, e.g. https://2c.puerti.co/gs/wcs?service=WCS&format=image%2Ftiff&request=GetCoverage&srs=EPSG%3A4326&version=2.0.1&bbox=-75.744656771200000%2C6.058262631600000%2C-75.363005371200000%2C6.505744731600000&coverageid=col_ppp_v2b_2015_unadj
This link will not work for anonymous user, while the h

[2019-06-21 17:48] kalxas commented on #175
Some interesting upstream links:
https://github.com/GeoNode/geonode/issues/4227
https://github.com/GeoNode/geonode/pull/4208
https://github.com/GeoNode/geonode/pull/4226

[2019-06-21 17:52] kalxas commented on #180
This is also related to the /gs/ endpoint. If we replace gs with geoserver in the download link, the zip name is correct.

[2019-06-21 17:54] kalxas commented on #178
@d3netxer setting the thumbnail works for me.
Did you make sure to empty your cache before reloading the page?

[2019-06-29 18:55] kalxas commented on #175
After upgrading to latest geonode master, this issue seems to be fixed.
Can you please confirm?

[2019-06-29 18:56] kalxas commented on #180
This has been fixed. Please review

[2019-06-29 18:58] kalxas opened #192 "Layer page needs to be upgraded so the extra fields can be viewed"

[2019-07-02 16:28] d3netxer commented on #180
This is working now for me.

[2019-07-02 16:35] d3netxer commented on #178
ok great, I emptied my cache and it worked!

[2019-07-02 16:35] #178 closed, assigned to kalxas

[2019-07-02 18:01] #180 closed, assigned to nobody

[2019-07-22 15:11] kalxas commented on #176
Original dataset links are not available in 2.10 anymore

[2019-07-22 15:12] kalxas commented on #175
Fixed

[2019-07-22 15:12] #175 closed, assigned to ingenieroariel, kalxas

[2019-07-22 15:13] kalxas commented on #191
Files are missing from the database, we need to upload again from 2.6

[2019-07-22 15:13] kalxas commented on #190
Files are missing from the database, we need to upload again from 2.6

[2019-07-22 15:15] #132 closed

[2019-07-22 15:16] kalxas commented on #185
Fixed now, needs review

[2019-07-22 15:17] kalxas commented on #183
Fixed now, please confirm

[2019-07-22 15:18] kalxas commented on #184
Needs review, should be working now

[2019-07-22 15:19] kalxas commented on #182
Fixed in http

[2019-07-22 15:19] #182 closed, assigned to nobody

[2019-07-22 15:19] kalxas commented on #181
Working now on 2.10. Please review

[2019-07-22 15:21] kalxas commented on #159
Done for 2.6 production site.

[2019-07-22 15:22] kalxas commented on #179
Fixed in http://2c.puerti.co/layers/kha_forestroad_spaero#/

[2019-07-22 15:23] kalxas commented on #161
Search backend has been completely re-designed in 2.10. Now using elasticsearch so filters should be working fine now.

[2019-07-22 15:24] kalxas commented on #148
Migration to GeoNode 2.10 has been completed, now working on 2C customizations.

[2019-07-22 15:26] kalxas commented on #186
This should be working now in 2.10

[2019-07-24 15:53] arshores commented on #176
was this feature not able to be fixed?

[2019-07-30 17:57] sophialinn commented on #181
none of the sorting options are working, 7/30/2019 on http://2c.puerti.com

[2019-07-30 17:59] sophialinn commented on #183
Yes, working.

[2019-07-30 19:25] arshores commented on #179
This is fixed

[2019-07-30 19:25] #179 closed, assigned to kalxas

[2019-07-30 19:28] #176 closed, assigned to nobody

[2019-07-30 19:28] #150 closed, assigned to ingenieroariel, kalxas

[2019-07-30 19:30] #183 closed, assigned to nobody

[2019-07-30 19:35] #131 closed

[2019-07-30 19:36] #96 closed

[2019-07-30 19:37] #181 closed, assigned to nobody

[2019-07-30 19:39] arshores commented on #161
As Sophia mentioned today, the search by text bar on the left will filter the contents but if you select a layer, you are not brought to that page. The search bar on the top right works just fine.

[2019-07-31 14:34] ingenieroariel commented on #161
Can we check this one again on 2c.puerti.co ?

Cuzco and Esmeraldas work as search terms, Denpasar produces overly broad results but we can track on a different issue.

[2019-07-31 15:50] sophialinn opened #193 "BULK UPLOAD: City Boundaries"
The data and metadata in this folder are ready for upload. These are NEW datasets from 2C-CSU:

[https://drive.google.com/open?id=1Hs_chgRra4Aq9q1iwXqAMcaF5xPRL8oW](url)

[2019-07-31 15:52] sophialinn opened #194 "BULK UPLOAD: Douala Water Features"
This is just a single dataset (and metadata), but we can use it as a test to REPLACE an existing layer (that I had uploaded as a TEST last week).

[https://drive.google.com/open?id=1cGOIMv6kFvXRGs79mOI5P2ER2RfOx-eg](url)

[2019-07-31 15:53] sophialinn opened #195 "BULK UPLOAD: GHSL Population Clipped to Bounding Box"
The data and metadata in this folder are ready for upload. They are NEW datasets generated by 2C-CSU.

[https://drive.google.com/open?id=1frhb7RNevgCXX4FoqEzNr8q0NJ0H-ugi](url)

[2019-07-31 15:55] sophialinn opened #196 "BULK UPLOAD: Year 3 GHSL Multi-temporal"
The data and metadata in this folder are ready for upload. They are new datasets generated by 2C-CSU.

[https://drive.google.com/open?id=1nMETC5LlGeYy8sUXiUYEHBFERgxLb0rL](url)

[2019-07-31 16:01] sophialinn opened #197 "BULK UPLOAD: Pemba Bounding Box Metadata"
This is a SINGLE metadata update to use as a test. It should replace the existing metadata for the Pemba Bounding Box. NOTE: This is a test to see if we can/should ever update metadata without uploading its data at the same time. In a case like this, it *might* be easier to use the UI to correct metadata problems (Edit Metadata). Again, just testing.

[https://drive.google.com/open?id=1avmyeJ0f1Hw

[2019-08-20 15:47] kalxas commented on #193
Finished processing 18 layers in 949.0 seconds.

18 Created layers
0 Updated layers
0 Skipped layers
0 Failed layers
52.722222 seconds per layer

[2019-08-20 15:55] kalxas commented on #193
metadata updated from spreadsheet, only this layer did not update:

https://2c.puerti.co/layers/geonode:ind_dviaadm2#/

[2019-08-20 16:01] kalxas commented on #193
[code]

[2019-08-20 16:19] kalxas commented on #193
For the failed layer, the name of the data file does not match the name in the spreadsheet, easy to fix

[2019-08-20 16:26] kalxas commented on #193
Issue fixed. Please review:
https://2c.puerti.co/layers/?limit=50&offset=0&order_by=-date

[2019-08-20 16:26] sophialinn commented on #193
Ok,  let's set up a time to focus on fixing these little issues. I'm en route from southern Colorado. Hope to call in to our call if we have cell service at that time! Back in the office later today or tomorrow for sure.

Sent from my smartphone

-------- Original message --------
From: Angelos Tzotsos <notifications@github.com>
Date: 8/20/19 10:19 AM (GMT-07:00)
To: state-hiu/2C-GeoNode <2C-GeoNo

[2019-08-20 16:32] kalxas commented on #194
[code]

[2019-08-20 16:34] kalxas commented on #194
Metadata updated, please review:
https://2c.puerti.co/layers/geonode:dou_waterosm#/

[2019-08-20 16:48] kalxas commented on #195
[code]

[2019-08-20 16:51] kalxas commented on #195
[code]

[2019-08-20 17:04] kalxas commented on #195
Fixed 2 minor typos in the spreadsheet, now fixed:

[code]

[2019-08-20 17:05] kalxas commented on #195
Please review:
https://2c.puerti.co/layers/?limit=50&offset=0&order_by=-date

[2019-08-20 19:55] kalxas commented on #159
Done, please review
https://2c.puerti.co/

[2019-08-20 19:56] kalxas commented on #192
Done, please review:
https://2c.puerti.co/layers/kha_adm_bound_poly_spaero#more

[2019-08-20 19:57] kalxas commented on #148
Completed.

[2019-08-20 19:59] #185 closed, assigned to nobody

[2019-08-20 21:35] arshores commented on #192
Do you mean that you can click on the more info button and get the rest of the metadata? I wasn't aware that was a problem but if it was, it is now fixed.

[2019-08-20 21:35] #192 closed, assigned to ingenieroariel, kalxas

[2019-08-20 21:38] arshores commented on #194
I get a 403 forbidden error when I flick on the above link. I'm not sure what to do to test this. It seems as though it worked from the message above so I will close this out.

[2019-08-20 21:40] arshores commented on #189
Just checked on this issue and it has not yet been fixed. This would be apart of contract 1 I suppose that would need to be fixed before going live?

[2019-08-20 21:46] arshores commented on #195
Just looked at the layer. It downloads correctly. The imagery in the thumbnail doesn't look correct. That might be a different issue.

[2019-08-20 21:48] arshores commented on #193
Seems good to go.

[2019-08-20 21:48] #193 closed, assigned to nobody

[2019-08-20 21:49] #159 closed, assigned to ingenieroariel, kalxas

[2019-08-20 21:50] #148 closed, assigned to nobody

[2019-08-20 21:53] arshores commented on #137
Just checked and this layer seems to be functioning so I am going to close this issue.

[2019-08-20 21:53] #137 closed

[2019-08-20 22:12] kalxas commented on #189
yes, we will enable those filters, thanks for the reminder

[2019-08-20 22:14] kalxas commented on #195
Regarding the thumbnails, this is related to making a nice raster style and updating it on GeoServer. 2 years ago we had such a process in place, so we can do something similar.

[2019-08-20 22:16] kalxas commented on #194
Good catch @arshores we need to update the permissions on the newly uploaded data, so that they are visible to the anonymous user.

[2019-08-20 22:22] kalxas commented on #194
Fixed

[2019-08-20 22:29] arshores commented on #194
Will this need to be continually updated on any new data that is added? Just wondering if I should keep my eye out for this issue in the future after the bulk uploads

[2019-08-20 22:31] kalxas commented on #194
We do have a script for resetting the permissions, exactly as we had in place for 2.6 bulk uploads.
I just forgot to run this script :)

[2019-08-20 22:40] #194 closed, assigned to nobody

[2019-08-20 22:51] kalxas commented on #192
Yes, this was missing from the migrated code and Ariel fixed it.

[2019-08-21 10:37] kalxas commented on #197
[code]

[2019-08-21 10:53] kalxas commented on #197
This error is thrown on ```layer.save()```

[2019-08-22 02:16] arshores opened #198 "User interface won't allow for uploads"
Today Tom and I tried using the UI to upload shapefiles one at a time and it isn't functioning. Received a message saying unexpected error.

[2019-08-22 18:19] ingenieroariel commented on #198
Checking now, got the following in the logs after updating urls to the new one:

[code]

[2019-08-22 18:38] ingenieroariel commented on #198
This is the issue:

[code]

Geoserver is trying to be accessed on https because the original request comes through that. It should use http since it is internal.

[2019-08-22 19:19] ingenieroariel commented on #198
This has been fixed.

![image](https://user-images.githubusercontent.com/54999/63543161-c1d59400-c4e7-11e9-8bb4-b6b9fa9a4507.png)

[2019-08-22 19:57] sophialinn opened #199 "BULK UPLOAD: Indore - Health Data (7 datasets)"
Indore data is ready to be uploaded. There are 7 datasets. Data and metadata can be found here:
https://drive.google.com/drive/folders/1UeaaPf0YCO3maL1rd4NH2YrQSMkjZvyU?usp=sharing

[2019-08-22 20:12] sophialinn opened #200 "BULK UPLOAD: Pemba (11 datasets)"
Data and metadata for Pemba (11 datasets) are ready for upload from here:
https://drive.google.com/drive/folders/1HvWeYs04CgklQl4JqB4VTmKZOgtEubAr?usp=sharing

[2019-08-22 20:33] sophialinn opened #201 "BULK UPLOAD: Douala WorldPop (4 datasets)"
These data and metadata are ready to be uploaded:
https://drive.google.com/drive/folders/1fqqpdl6LzJAwyKwfweuXaAGh2sTxX3Qg?usp=sharing

[2019-08-22 20:41] sophialinn opened #202 "BULK UPLOAD: Kharkiv housing (1 dataset)"
This single dataset and metadata are ready for upload:

https://drive.google.com/drive/folders/0B2Oc3HZSI7QFQm03VGpSclh0YXM?usp=sharing

[2019-08-22 20:52] sophialinn opened #203 "BULK REMOVAL AND NEW UPLOAD: Pokhara (25 datasets)"
We need to REMOVE 24 datasets currently on the 2C GeoNode and replace them with updated 25 datasets for Pokhara. This is NOT a clean 'replace' because the filenames are slightly different; the prefix of the 'old' data is "pokhara" and the prefix for the new data is "POK", even though the nature of the data is probably the same. For this reason, we need to REMOVE the old, and then upload the new.

[2019-08-22 22:25] kalxas commented on #198
Thanks @ingenieroariel

[2019-08-23 11:44] kalxas opened #204 "Create account for Amanda"

[2019-08-23 11:58] kalxas commented on #195
@sophialinn is this a duplicate of https://github.com/state-hiu/2C-GeoNode/issues/201?

I see the same files.

[2019-08-23 11:58] kalxas commented on #201
Is this a duplicate of https://github.com/state-hiu/2C-GeoNode/issues/195 ?

[2019-08-23 12:05] kalxas commented on #195
Looks like there was a mixup on my side and I uploaded the Douala folder on this ticket... Will reopen the ticket.

[2019-08-23 12:06] kalxas commented on #201
Not a duplicate after all, the upload has already happened, please review.

https://secondarycities.geonode.state.gov/layers/?limit=50&offset=0&order_by=-date

[2019-08-23 19:59] sophialinn opened #205 "BULK UPLOAD: Tijuana (10 datasets)"
Data and metadata for Tijuana are ready to be uploaded from here:

https://drive.google.com/drive/folders/1ulR0h--Zxj2eKc8gfqiVevwwiRewQJLt?usp=sharing

[2019-08-23 20:51] sophialinn opened #206 "BULK UPLOAD: Santa Fe (37 datasets)"
Data and metadata for Santa Fe are ready for upload from here:

https://drive.google.com/drive/folders/1uvAYldAa0VCurFwD1-_2prRXbJ-zvT8q?usp=sharing

NOTE: They seem to be continuing to upload data and metadata! To avoid confusion, data to be uploaded (for this issue) is located in the **Santa Fe Data (github issue #206) READY FOR UPLOAD** folder, and metadata is in the **Santa Fe Metadata Spreads

[2019-08-23 21:33] sophialinn opened #207 "BULK REMOVAL AND NEW UPLOAD: Esmeraldas (remove 37; upload 48)"
Data and metadata are ready to be uploaded for Esmeraldas. NOTE: We must FIRST delete all of their 2017 workshop/local data that is currently in the 2CGeoNode (37 layers). The list of files to be **removed** can be found here:

https://docs.google.com/spreadsheets/d/1dh1vqbBSCx9JQBabzXLFua56uo-LihPSNiPq7xZtS_Q/edit#gid=0

Once those datasets are removed, we need to add the new/updated data and met

[2019-08-26 12:58] arshores commented on #198
Do I have login privileges yet? I can check this out and close the ticket once I do.

[2019-08-26 22:41] sophialinn opened #208 "BULK UPLOAD: Darkhan (12 datasets)"
Data and metadata for Darkhan are ready for upload. (NOTE that they say "READY FOR UPLOAD" because there are others that still "need attention"):

https://drive.google.com/drive/folders/13-K2l_KmMKgLaakhQKFYGAAyT2z4pKPK?usp=sharing

[2019-08-27 17:15] kalxas commented on #195
[code]

[2019-08-27 17:18] kalxas commented on #201
[code]

[2019-08-27 17:18] kalxas commented on #201
[code]

[2019-08-27 17:38] kalxas commented on #198
I have opened #204 to remember...

[2019-08-27 17:47] kalxas commented on #195
[code]

[2019-08-27 18:00] kalxas commented on #204
ashores already exists and has an admin status

[2019-08-27 18:00] kalxas commented on #204
@ashores can you please confirm?

[2019-08-27 18:01] kalxas commented on #202
[code]

[2019-08-27 18:02] kalxas commented on #202
[code]

[2019-08-27 18:25] kalxas commented on #200
[code]

[2019-08-27 18:28] kalxas commented on #200
Error log:
[code]

[2019-08-27 18:34] kalxas commented on #200
[code]

[2019-08-27 18:37] sophialinn commented on #200
I'm checking on the failed layers...

[2019-08-27 18:43] kalxas commented on #199
[code]

[2019-08-27 18:45] kalxas commented on #199
[code]

[2019-08-27 18:49] kalxas commented on #199
[code]

[2019-08-27 18:52] kalxas commented on #200
thanks!

[2019-08-27 19:21] kalxas commented on #196
[code]

[2019-08-27 19:24] kalxas commented on #196
[code]

[2019-08-27 21:59] kalxas commented on #205
[code]

[2019-08-27 22:04] kalxas commented on #205
[code]

[2019-08-27 23:01] kalxas commented on #208
[code]

[2019-08-27 23:06] kalxas commented on #208
[code]

[2019-08-28 04:07] kalxas commented on #206
[code]

[2019-08-28 04:09] kalxas commented on #206
[code]

[2019-08-28 11:49] kalxas commented on #206
[code]

[2019-09-03 19:40] #204 closed, assigned to kalxas

[2019-09-03 20:48] arshores opened #209 "Am not able to select a layer from the explore layers list"
Sophia and I both tried to go to an individual layer but are not able to. Can this be checked on? Thanks!

[2019-09-04 08:37] kalxas commented on #207
@ingenieroariel we will need to make a script to bulk delete layers for this one

[2019-09-04 20:56] sophialinn opened #210 "Cannot connect to ANY data detail page"
From the data layers list, I click on any data layer and it just stalls/spins and never connects to the data detail page. I wanted to test out downloading some of the newly uploaded data sets, but can't get there today...

An error occurred.
Sorry, the page you are looking for is currently unavailable.
Please try again later.
If you are the system administrator of this resource then you should che

[2019-09-05 15:30] kalxas commented on #210
Fixed, can you please check again?

[2019-09-05 15:32] kalxas commented on #209
Fixed, can you please check?

[2019-09-05 17:47] kalxas opened #211 "Thumbnail issues"
From Amanda's e-mail:

Need to update style layers for all datasets whose thumbnails are not displaying nicely. Also, it appears some of the new thumbnails are displayed "off center"; that is, they are not centered and/or do not fill the 'square' properly

[2019-09-05 17:58] d3netxer commented on #161
re-opening due to recent e-mail:

Filtering (selecting) from all pages and in all ways needs to work and be consistent.  We’ve observed multiple inconsistencies when trying to search for data in different ways. For example:
From the home page/photos: If you click on the photo of Darkhan, it takes you to the layer list and says there are 1126 layers. The “Search:” header on top says it’s searching

[2019-09-05 17:59] sophialinn commented on #209
Yes, seems to be working now.

[2019-09-05 18:00] sophialinn commented on #210
Yes, it's working now. (Let's hope it keeps working! ;) )

[2019-09-05 18:00] #209 closed, assigned to kalxas

[2019-09-05 18:00] #210 closed, assigned to kalxas

[2019-09-05 18:02] #202 closed, assigned to kalxas, d3netxer

[2019-09-05 18:07] sophialinn commented on #206
There may be some projection issues with a few of these layers. We'll need to download and check. The ones whose thumbnails look strange are the questionable ones (e.g. neighborhoods, bus line tours, watersheds.)

[2019-09-05 18:12] #205 closed, assigned to kalxas, d3netxer

[2019-09-10 09:29] kalxas commented on #198
I think this one is fixed now, right?

[2019-09-10 11:30] kalxas commented on #207
Script added now.

[2019-09-10 11:31] kalxas commented on #207
@sophialinn the layers listed in the spreadsheet are not in the metadata spreadsheet form. Also some are in red, are those the only ones to be deleted?

[2019-09-10 15:20] kalxas commented on #203
[code]

[2019-09-10 15:31] kalxas commented on #198
I have tested this on the development server and worked for me.

[2019-09-10 15:31] #198 closed, assigned to nobody

[2019-09-10 15:51] sophialinn commented on #207
@kalxas The data layers listed in the B column of [this spreadsheet](https://docs.google.com/spreadsheets/d/1dh1vqbBSCx9JQBabzXLFua56uo-LihPSNiPq7xZtS_Q/edit?usp=sharing) **need to be removed** (regardless of color).

The data layers in column D of that same spreadsheet *should* be the ones that we have new DATA and METADATA for. The NEW DATA is here: https://drive.google.com/drive/folders/1XfdznX

[2019-09-10 16:09] #208 closed, assigned to kalxas, d3netxer

[2019-09-10 16:23] sophialinn commented on #203
@kalxas  The number of Pokhara data layers and metadata should line up now. Here are the links:

Pokhara Data:  https://drive.google.com/drive/folders/0B2Oc3HZSI7QFMUNJYkhKaURwTEE?usp=sharing

Pokhara Metadata: https://drive.google.com/drive/folders/0B2Oc3HZSI7QFMUNJYkhKaURwTEE?usp=sharing

[2019-09-10 16:33] kalxas commented on #203
[code]

[2019-09-10 16:39] kalxas commented on #207
the problem is that all the scripts need a metadata type spreadsheet to work, so I need a spreadsheet with the layer name at least to get them removed from geonode.

[2019-09-10 16:44] kalxas commented on #203
[code]

[2019-09-10 18:06] kalxas commented on #203
We completed a cleanup of the database, things should be fine now

[2019-09-10 18:18] kalxas commented on #203
These are the layers that did not have metadata:

- pok_placesofworship
- pok_highways
- pok_drinkingwater
- pok_secondaryroads
- pok_primaryroad
- pok_hotels
- pok_tertiaryroads
- pok_touristattractions
- pok_residentialroads
- pok_security
- pok_ngos

[2019-09-10 19:00] kalxas commented on #207
Layers from spreadsheet deleted.

[2019-09-10 20:37] kalxas commented on #207
[code]

[2019-09-10 20:56] kalxas commented on #207
[code]

[2019-09-10 21:15] kalxas commented on #207
2 layers metadata fixed:
[code]

[2019-09-10 21:16] kalxas commented on #184
This was tested today and works fine now.

[2019-09-10 21:16] #184 closed, assigned to nobody

[2019-09-12 12:16] d3netxer opened #212 "can't delete layer from UI"
tested uploading a file 'Africa_Americas_LSIB9a' from the UI, then deleting it, but it still seems to be there after 2 days.

[2019-09-12 18:05] #207 closed, assigned to ingenieroariel, kalxas, d3netxer

[2019-09-12 18:19] kalxas commented on #189
city and dataprovider type filters now added

[2019-09-12 18:21] kalxas commented on #189
and keywords enabled now

[2019-09-12 18:22] kalxas commented on #212
index needs to be rebuilt

[2019-09-12 18:27] kalxas commented on #212
done

[2019-09-12 18:27] #212 closed, assigned to nobody

[2019-09-12 18:29] sophialinn opened #213 "BULK UPLOAD: Santa Fe (3 layers)"
NOTE: These three data sets **may have been attempted before** but either the DATA or the METADATA were missing.

DATA:  https://drive.google.com/open?id=1uvAYldAa0VCurFwD1-_2prRXbJ-zvT8q

METADATA: https://drive.google.com/open?id=1WN4Mi4PxccOPrYS6jZ0UM8TBbSHebl0bSBm9WfsmYS0

[2019-09-12 19:42] kalxas commented on #196
No errors reported here, shall we close this one?

[2019-09-12 19:44] sophialinn commented on #206
The following datasets do not have a defined projection. (Maybe there are others but these are the ones I found). I believe it is OK to define them as WGS84 (EPSG: 4326). Currently, their thumbnails do not display correctly, nor do they appear on the map:

snf_bus_line
snf_blocks
snf_neighborhood
snf_sub_basins
snf_wastewater
snf_watersheds

[2019-09-12 19:47] kalxas commented on #201
This one also does not have errors reported, can we close?

[2019-09-12 20:03] #196 closed, assigned to kalxas, d3netxer

[2019-09-12 20:03] #201 closed, assigned to kalxas, d3netxer

[2019-09-12 20:05] sophialinn commented on #195
Only one failed metadata update: denpasar: population (2015 epoch)

[2019-09-12 20:05] kalxas commented on #195
This one seems fine now, the Denpasar population layer for 2015 has metadata:

https://secondarycities.geonode.state.gov/layers/idn_ppp_v2b_2015_unadj#/

[2019-09-12 20:22] #195 closed, assigned to kalxas

[2019-09-12 20:44] kalxas commented on #206
![image](https://user-images.githubusercontent.com/383944/64819529-19cb5c00-d5b7-11e9-9d33-786665b5947c.png)

The SRS seems to be the problem in this case, GeoServer cannot preview those layers:

https://secondarycities.geonode.state.gov/geoserver/geonode/wms?service=WMS&version=1.1.0&request=GetMap&layers=geonode%3Asnf_bus_line&bbox=5428400.5%2C6492774.0%2C5446334.0%2C6509302.5&width=768&height=7

[2019-09-12 20:55] d3netxer opened #214 "Key words need to be consistent"
Key words need to be consistent. Right now there are multiple keywords that just have an upper case or lower case different; or are slightly different.

Also, I noticed that the 'Africa_Americas_LSIB9a' keyword still exists even though the layer got deleted.

How can we fix this @kalxas @sophialinn?

[2019-09-12 21:03] d3netxer opened #215 "Make all projections consistent in WGS 84"
Make all projections consistent in WGS 84

[2019-09-12 21:06] kalxas commented on #214
About keywords, there was a custom filter in 2.6, but this is not working in 2.10

About the second issue, keywords are not deleted in GeoNode once a layer gets removed.

[2019-09-12 21:34] kalxas commented on #213
[code]

[2019-09-12 21:36] kalxas commented on #213
[code]

[2019-09-12 21:44] sophialinn commented on #206
Instead of 'waiting for the partner', I defined the projection for these 6 datasets to match the other data from Santa Fe. (EPSG:5347) The data, with the new .prj files, are located here and should now REPLACE the data with the same names in the GeoNode:

https://drive.google.com/open?id=1vR9IdrfRimm4CJ7Z1B1DjsgL7ZDr-qbb

[2019-09-12 21:51] sophialinn commented on #203
Missing data and metadata for Pokhara can be found in this folder:

https://drive.google.com/open?id=1W-QLUR7D33wU7NUeeMwVih5EkY-ThN2p

[2019-09-13 00:50] arshores opened #216 "Return to layer button on metadata detail page isn't functioning"
A button that I have never used before, Return to layer, found on the metadata detail page on a layer does not appear to function. I think we could just get rid of it...Can easily use the back button to do the same thing.

[2019-09-13 10:00] kalxas commented on #168
All current browsers have been checked, can we close this as per our discussion yesterday?

[2019-09-13 10:03] kalxas commented on #189
Based on discussions on e-mail, keywords filter has been disabled. Users can search for keywords using the text filter that implements a full text search in 2.10.

[2019-09-13 14:42] kalxas opened #217 "SSL certificate expiration"
The production geonode now gives a security warning "This website does not supply ownership information."

[2019-09-13 14:47] kalxas commented on #206
Given that layers from #213 also do not show on map, I think we need to reproject all Santa Fe layers to WGS84 (as @d3netxer is suggesting in #215 )

[2019-09-13 14:50] kalxas commented on #203
Metadata spreadsheet has a comment about pok_highways.shp. Should we ignore that line?

[2019-09-13 14:56] kalxas commented on #213
Layers removed since the projection was wrong.

[2019-09-13 15:19] kalxas commented on #217
[code]

[2019-09-13 15:30] sophialinn commented on #203
Yes, ignore/delete the pok_highways.shp line in the metadata

[2019-09-13 15:42] sophialinn commented on #213
I reprojected these three datasets to WGS84. The data can be found here:

https://drive.google.com/drive/folders/1wRnHbGQzhsd9xsZlrD3W_Dpj3yXIVWhh?usp=sharing

[2019-09-13 15:57] kalxas commented on #203
[code]

[2019-09-13 15:59] sophialinn commented on #206
OK, those six problematic layers have ALSO been reprojected to WGS84. They can be found here:

https://drive.google.com/open?id=1vR9IdrfRimm4CJ7Z1B1DjsgL7ZDr-qbb

[2019-09-13 16:00] kalxas commented on #203
[code]

[2019-09-13 16:10] kalxas commented on #203
ready for review

[2019-09-13 16:17] sophialinn commented on #203
waiting for geonode to be restored (certificate issue) and will then review

[2019-09-13 17:06] kalxas commented on #203
GeoNode is up, you just need to add an exception and you can see it working

[2019-09-13 17:06] kalxas commented on #203
Pokhara Highways metadata missing from both latest spreadsheets

https://secondarycities.geonode.state.gov/layers/geonode:pok_highways

[2019-09-13 19:33] sophialinn commented on #203
Message from Gaurav (Pokhara partner):

_The pok_highways was renamed to pok_trunkroad. And this file is redundant._

[2019-09-13 19:39] sophialinn commented on #203
...but now I don't see _pok_trunkroad_ anywhere. I'm going to follow up, but until then, go ahead and delete _pok_highways_

[2019-09-13 19:53] kalxas commented on #213
thanks!

[2019-09-13 19:59] kalxas commented on #203
ok thanks

[2019-09-13 20:54] kalxas commented on #206
[code]

[2019-09-13 21:08] kalxas commented on #213
[code]

[2019-09-13 21:10] kalxas commented on #213
[code]

[2019-09-13 21:31] kalxas commented on #206
2 layers with previous errors now fixed:
[code]

[2019-09-13 21:33] kalxas commented on #206
[code]

[2019-09-13 21:34] #206 closed, assigned to ingenieroariel, kalxas, d3netxer

[2019-09-13 22:02] kalxas commented on #199
Both layers have empty geometries

[2019-09-13 22:15] kalxas commented on #200
Some comments on the failing layers:

* Pem_Education.shp: Has some geometries outside the Pemba bbox
* Pem_Road_Network.shp: Although it says road network it is a point layer. Also some of the field names do not make sense
* Pem_Health_and_Medical.shp: Has some geometries outside the Pemba bbox

[2019-09-13 22:16] #213 closed, assigned to ingenieroariel, kalxas, d3netxer

[2019-09-13 23:02] sophialinn opened #218 ""Get Started" button"
Currently links to generic GeoNode User Guide info as opposed to the 2C GeoNode custom guide that we had created. @d3netxer should have the latest version

[2019-09-14 16:40] sophialinn opened #219 "Truncated values in "Supplemental Information" and "Lineage" in metadata"
Need to expand how many characters can be shown in both the "Supplemental Information" and "Lineage" fields for the metadata. They are both truncated (showing "..." where there is, in fact, more text existing.)

[2019-09-14 16:51] sophialinn opened #220 "BULK UPLOAD: Darkhan (7 datasets)"
These seven datasets previously did not have metadata; now they do. Data and metadata (Sept2019) can be found here:

https://drive.google.com/drive/folders/13-K2l_KmMKgLaakhQKFYGAAyT2z4pKPK?usp=sharing

[2019-09-14 19:07] sophialinn opened #221 "BULK UPLOAD: Boke, Kamsar, Kolaboui - GUINEA (19 datasets)"
These may be a bit confusing regarding which city they belong to. They are all in the country of Guinea, and in the Boke-Kamsar region. There are some data specifically for Boke; only one dataset for Kamsar; and then a number of datasets for a settlement between those two called Kolaboui. The prefix for Boke is BOK; for Kamsar it's KAM; and for Kolaboui, I decided to use GUI_KOL (as I believe we u

[2019-09-14 19:17] sophialinn commented on #214
All of the keywords should never be visible to the user. This was fixed by removing the filter. The previous version (2.6) showed only the 'most used' keywords, but even that is not really necessary. Just typing in the search box will find any text.

[2019-09-14 20:02] sophialinn opened #222 "BULK UPLOAD: Santiago (20 datasets)"
These datasets represent survey point locations in neighborhoods around Santiago, Dominican Republic. Details about the survey itself (including field names and values) were uploaded as a Document (using the UI) and is called "Santiago - Field Survey (definitions)". This is referenced in Supplemental Information in the metadata spreadsheet.

Data is here: https://drive.google.com/drive/folders/1Dn

[2019-09-17 13:00] sophialinn opened #223 "BULK UPLOAD: Douala (13 datasets)"
Douala data are ready to be uploaded.

Data: https://drive.google.com/drive/folders/0B2Oc3HZSI7QFSEJSX25NOUVkVDQ?usp=sharing

Metadata: https://docs.google.com/spreadsheets/d/1FkQywzOdZzfFCmXFNyhq0XLtHfWJ5fFARmCqxYOeMhw/edit?usp=sharing

[2019-09-17 16:40] ingenieroariel commented on #217
This is now fixed

[2019-09-17 16:48] ingenieroariel commented on #216
Fixed in ddb2043

[2019-09-17 20:14] arshores opened #224 "Error when clicking on a layer page"
This error comes up when I click on a layer:
An error occurred.
Sorry, the page you are looking for is currently unavailable.
Please try again later.

If you are the system administrator of this resource then you should check the error log for details.

Faithfully yours, OpenResty.

[2019-09-17 22:43] kalxas commented on #224
This message is shown during a restart of the server, can you please try again now?
It works for me.

[2019-09-18 15:53] arshores commented on #224
I'm still getting the error

[2019-09-18 15:54] #217 closed, assigned to ingenieroariel, kalxas

[2019-09-18 16:18] kalxas commented on #224
Please clear your browser cache and try again.

[2019-09-18 16:24] arshores commented on #224
Cleared cache and still getting error.

[2019-09-18 16:55] kalxas commented on #224
Can you please post the url you are getting error from?

[2019-09-18 16:56] arshores commented on #224
https://secondarycities.geonode.state.gov/layers/tecorregion_z19

[2019-09-18 17:08] kalxas commented on #224
![image](https://user-images.githubusercontent.com/383944/65169825-0f461200-da50-11e9-9f8e-82d5cff9c406.png)

[2019-09-18 17:10] kalxas commented on #224
@d3netxer @sophialinn can you please confirm you can see this page correctly?

[2019-09-18 17:12] d3netxer commented on #224
yes, I see the page correctly. @arshores can you try using a different browser or computer?

[2019-09-18 17:20] arshores commented on #224
Got this error when I tried using firefox
503 ERROR
The request could not be satisfied.
The Lambda function associated with the CloudFront distribution is invalid or doesn't have the required permissions.
If you received this error while trying to use an app or access a website, please contact the provider or website owner for assistance.
If you provide content to customers through CloudFront, you

[2019-09-18 17:20] arshores commented on #224
Just to clarify, that was when trying to get to the GeoNode only, not when clicking on a layer.

[2019-09-18 17:30] arshores commented on #224
Let me restart my computer

[2019-09-18 17:38] arshores commented on #224
I cannot access the GeoNode from any browser now. Maybe it is a CSU network problem?

503 ERROR
The request could not be satisfied.
The Lambda function associated with the CloudFront distribution is invalid or doesn't have the required permissions.
If you received this error while trying to use an app or access a website, please contact the provider or website owner for assistance.
If you provide

[2019-09-18 17:53] d3netxer commented on #224
That is odd, we don't have a CloudFront distribution set up for secondarycities.geonode.state.gov

[2019-09-18 18:04] arshores commented on #224
It isn't the network on our end.

[2019-09-18 18:36] sophialinn commented on #224
I'm at a conference in Denver and just logged on the hotel network. I can see the geonode just fine from here.

[2019-09-18 22:24] arshores commented on #224
I had other people check and it isn't working for them. I have no idea at this point what might be the issue. I'm getting that same error when I try to get to the 2C website as well.

[2019-09-18 23:04] d3netxer commented on #224
I have been working on re-deploying the 2C website using S3 hosting. The last thing I have been working on is adding edge lambdas to add some needed headers. I'll let you know when this is done, so you can check the 2C website. I don't think any of this should have affected the 2C GeoNode site though.

[2019-09-19 00:38] d3netxer commented on #224
I should have the headers now where I want them. @arshores do you mind checking https://secondarycities.state.gov/ and if it gives and error, can you take a screenshot of your screen?

[2019-09-19 00:55] arshores commented on #224
All is well now.

[2019-09-19 00:56] #224 closed, assigned to nobody

[2019-09-19 15:07] arshores commented on #224
Might be good to reflect on why that happened/why there wasn't an issue for
some but for others, they couldn't access to website or GeoNode.
Kind Regards,

Amanda R. Shores, PhD
Project Manager and Post Doctoral Scholar
Secondary Cities
Colorado State University
___________________________________________

*Light the fire of imagination and seek the realization of a better
tomorrow for all.*

On W

[2019-09-19 17:27] ingenieroariel commented on #224
The issue was caused by AWS configuration outside of GeoNode. It is true
that it would be good to investigate how to do those changes in the future
without downtime but that is probably an issue for a different GitHub repo.
The main 2C website one perhaps?

On Thu., 19 Sep. 2019, 10:07 am arshores, <notifications@github.com> wrote:

[2019-09-19 17:37] #168 closed, assigned to ingenieroariel, kalxas, d3netxer

[2019-09-19 17:37] #189 closed, assigned to ingenieroariel, kalxas

[2019-09-19 17:39] kalxas commented on #216
Thanks @ingenieroariel
Closing now

[2019-09-19 17:39] #216 closed, assigned to ingenieroariel

[2019-09-19 19:20] arshores opened #225 "How to use the GeoNode document from Mel"

[2019-09-24 15:34] arshores opened #226 "Esmeraldas double data"
I am noticing that there seems to be some overlap with the Esmeraldas data. I see for example that there are two layers for community organizations. I believe that all of Esmeraldas data was suppose to be deleted that was previously on the GeoNode and then the new data was to be uploaded. Can someone check what the problem is with this?

[2019-09-24 15:39] arshores opened #227 "Selected objects-selecting a layer"
I am not understanding what the plus sign does for us. If you are in the layer search, you add click + and then on the left they will be accumulated as selected objects. Can those somehow be downloaded or added to the map? What is the functionality of this? If there is no function we should remove the + sign.

[2019-09-24 16:22] d3netxer opened #228 "error when trying to update attribute fields using GeoNode"
I am trying to click on a layer, click on 'Editing tools', and then the 'Advanced Edit' button. In the Editor I am trying to add attribute label and description. When I click the the Update button, the form gets stuck on Processing...
![error_update_metadata](https://user-images.githubusercontent.com/2665840/65530434-f614e980-dec5-11e9-9092-3894ba45d08f.PNG)

[2019-09-24 16:34] kalxas commented on #228
please try again now, there was a problem with GeoServer that is now fixed

[2019-09-24 16:53] kalxas commented on #222
[code]

[2019-09-24 16:55] kalxas commented on #227
After you select the layers by clicking + you can create a map with those layers.

[2019-09-24 17:00] kalxas commented on #222
[code]

[2019-09-24 17:01] kalxas commented on #222
@sophialinn ready for review

[2019-09-24 17:31] kalxas commented on #221
[code]

[2019-09-24 17:37] kalxas commented on #221
[code]

[2019-09-24 17:37] kalxas commented on #221
[code]

[2019-09-24 17:40] kalxas commented on #221
[code]

[2019-09-24 17:40] kalxas commented on #221
@sophialinn ready for review

[2019-09-24 18:02] sophialinn commented on #226
@arshores I see what you are saying. There seem to be 10 duplicates. I can't see an obvious/consistent reason why the old (2017) versions of those data were not removed--because some appeared on my "delete these layers" list and others did not. I have a feeling it has to do with a mismatch between the actual FILENAMES from the old to the new. @kalxas If I provide the "Title" of these 10 (not the f

[2019-09-24 18:06] kalxas commented on #223
[code]

[2019-09-24 18:11] kalxas commented on #223
[code]

[2019-09-24 18:11] kalxas commented on #223
@sophialinn ready for review

[2019-09-24 18:12] kalxas commented on #226
I can remove those old layers if I have the file names, no problem

[2019-09-24 18:20] sophialinn commented on #221
@kalxas Looks like there are spaces in some of the attribute names. Would that cause this failure?

[2019-09-24 18:24] kalxas commented on #220
[code]

[2019-09-24 18:27] kalxas commented on #220
[code]

[2019-09-24 18:30] kalxas commented on #220
Fixed one last layer:
[code]

[2019-09-24 18:31] kalxas commented on #220
@sophialinn ready to review

[2019-09-24 18:31] kalxas commented on #221
yes, it could be the cause

[2019-09-24 18:34] kalxas commented on #221
one other thing: the city filter is now populated with more city names about Boke, I hope this is what we want :)

[2019-09-24 19:09] sophialinn commented on #221
Yes, that's kind of a known problem, and one we don't really know how to deal with. We have "Boke", "Kamsar", "Boke-Kamsar" and "Guinea"

[2019-09-24 20:34] d3netxer commented on #228
issue still exists

[2019-09-24 20:36] d3netxer commented on #156
I checked and there is a character limit for the abstract field. However, the 2000 character limit may be sufficient.
![abstract_character_limit](https://user-images.githubusercontent.com/2665840/65548451-7ef14c80-dee9-11e9-8581-8d0b2106995c.PNG)

[2019-09-24 20:38] d3netxer commented on #156
Also, if the abstract does have lengthy text, it does not appear truncated.
![edits_are_being_saved](https://user-images.githubusercontent.com/2665840/65548579-b3fd9f00-dee9-11e9-8a03-b79c9a04e4d0.PNG)

Therefore let's think about closing this.

[2019-09-24 20:40] d3netxer opened #229 "error when using 'advanced editing' tool on abstract text."
see the screenshot below on the error I got when trying to edit the abstract field of a layer.
![cannot_edit_abstract_text](https://user-images.githubusercontent.com/2665840/65548717-0212a280-deea-11e9-8f82-529a4299dc56.PNG)

However, the text still updated, as I found out when I revisited the layer page. Yet, a UI error still is a problem.

[2019-09-24 21:02] d3netxer commented on #225
I'll work on drafting an html page and testing on dev server.

[2019-09-24 21:18] d3netxer commented on #160
thinking we can close this as we are not using this filter. Also I don't see it on the worklist spreadsheet.

[2019-09-24 21:24] sophialinn commented on #226
@kalxas Is it OK if I delete them myself from the back-end, like this?

![image](https://user-images.githubusercontent.com/17970523/65551477-4b112980-dedf-11e9-954d-a08fb0f84ea2.png)

[2019-09-24 21:55] #223 closed, assigned to sophialinn

[2019-09-24 22:03] sophialinn commented on #222
@kalxas I noticed a capitalization inconsistency with some of the Titles. I corrected them in the metadata spreadsheet. Could you please upload the metadata again? Link here:

https://docs.google.com/spreadsheets/d/1D4xuk4VKo6j-Nagg09nPkZV8y-hdnTPmcLvTeIfl-dg/edit?usp=sharing

[2019-09-25 16:28] sophialinn opened #230 "BULK UPLOAD: Mekelle (7 datasets)"
Mekelle data are ready to be uploaded. There are seven datasets.

Data is here: https://drive.google.com/open?id=1t_Kz2gOLUO2bSE_8HdzMOzW1Uu0RBjux

Metadata is here: https://docs.google.com/spreadsheets/d/1vvIfJjYWGwOYe4GVhNt8gP9SWrC7Zd077Hko8jpH07Q/edit?usp=sharing

[2019-09-25 16:45] sophialinn opened #231 "Unable to access any layer detail page"
From the list of data layers, I'm trying to access *any* layer detail page and it's not going anywhere; just keeps spinning. I've restarted my browser and cleared my cache. Any ideas?

[2019-09-25 16:48] sophialinn commented on #231
@kalxas Actually, the whole 2C GeoNode site seems to be down now.

[2019-09-25 16:56] sophialinn commented on #221
The attribute table for Bok_Religion doesn't open at all and throws an error I've never seen before:
![image](https://user-images.githubusercontent.com/17970523/65622464-f0310e00-df82-11e9-92d5-84356238c4ac.png)

The other two, as mentioned, have spaces in the attribute name and even an apostrophe (') BUT I checked other *functioning* layers and there are those irregularities too, so that's not li

[2019-09-25 17:01] sophialinn commented on #231
@kalxas This error finally came up (after spinning for quite awhile):

An error occurred.
Sorry, the page you are looking for is currently unavailable.
Please try again later.

If you are the system administrator of this resource then you should check the [error log](http://nginx.org/en/docs/ngx_core_module.html#error_log) for details.

Faithfully yours, OpenResty.

[2019-09-25 17:04] sophialinn commented on #220
Darkhan: Recycling Center - thumbnail not showing

All others look good.

[2019-09-25 23:22] d3netxer commented on #169
There should be the same type of css implemented as in the http://master.demo.geonode.org/layers/?limit=20&offset=0.

In the demo geonode there are layer counts that change color when the filter is selected.

Also For the categories, since they don't have their own symbols, the symbol with the 'X' should be removed.

[2019-09-25 23:49] d3netxer commented on #171
this should already be taken care of with new elastic search

[2019-09-25 23:54] d3netxer opened #232 "In the Maps page, the default layout extent should be fixed to just display the world, not a repeat layout"
In the Maps page, the default layout extent should be fixed to just display the world, not a repeat layout

[2019-09-26 00:00] d3netxer commented on #149
I see a satellite basemap option now in the maps (Sentinel)

[2019-09-26 00:03] d3netxer commented on #152
Also, there should be a page for this that provides links to all the endpoints, along with some example queries. This page should be part of the main menu. Also, we should propose that this gets added to the main GeoNode repo.

[2019-09-26 00:05] d3netxer commented on #162
Editing of attributes should be working, but we have been seeing bugs, so these need to be addressed.

[2019-09-26 00:08] d3netxer commented on #163
Now in 2.10 there is an attribute list, and it is able to be edited. The attribute label and the description can be added. Again, we need to get rid of the bugs first. Then we need to figure out the best way we could add the attribute information from the partners.

[2019-09-26 00:10] d3netxer commented on #165
If this feature is added, it should be added to the main GeoNode repo as an improvement

[2019-09-26 00:21] d3netxer opened #233 "Sort "Layers" list by Most Recent"
From "Layers" list, have the list sorted by Most Recent, as opposed to Less Recent (so that Kharkiv doesn't always come first) It will look better

[2019-09-26 00:27] d3netxer commented on #147
In the new docker set-up, this line probably just needs to be added here: https://github.com/state-hiu/2C-GeoNode/blob/210/nginx/server.conf

I can just make this a to-do to test it on the dev site, then do a pull request if it works

[2019-09-26 00:30] d3netxer commented on #145
same thing, I can test for this fix on the dev server.

[2019-09-26 00:33] d3netxer commented on #188
I'll work on doing this on the dev site

[2019-09-26 10:35] kalxas commented on #188
Thanks @d3netxer

[2019-09-26 10:36] kalxas commented on #147
thanks @d3netxer

[2019-09-26 10:37] kalxas commented on #233
You mean as default?

[2019-09-26 11:12] kalxas commented on #220
This layer includes only one point so the thumbnail algorithm does not handle it well, since it needs a bbox

[2019-09-26 11:30] kalxas commented on #231
Please try again now.

[2019-09-26 11:32] kalxas commented on #226
sure, go ahead :)

[2019-09-26 11:35] kalxas commented on #228
we will check with @ingenieroariel

[2019-09-26 11:49] kalxas commented on #226
I did this one layer to test that delete is still working

[2019-09-26 11:50] d3netxer commented on #167
in the 2.10 version of maps I do not see an attribute table, but data points are able to be clicked on and then the attributes for the selected feature are displayed. Is this functionality good enough? Or do we want a complete attribute table to view?

[2019-09-26 11:50] kalxas commented on #226
also, try not deleting them all at once, some times the admin panel times out if you try to delete many layers at once

[2019-09-26 11:55] kalxas commented on #230
The Data link goes to one file, not the containing folder

[2019-09-26 11:57] kalxas commented on #230
found them

[2019-09-26 11:59] kalxas commented on #222
done

[2019-09-26 12:14] kalxas commented on #230
[code]

[2019-09-26 12:17] kalxas commented on #230
[code]

[2019-09-26 16:06] sophialinn commented on #231
Yes, seems OK now. (Trying to make a minor metadata edit, but not able to save. I think this is another issue though...)

[2019-09-26 16:06] #231 closed, assigned to nobody

[2019-09-26 16:08] sophialinn commented on #229
I'm also trying to make a minor edit to metadata in Advanced Editing. Keeps spinning on "Processing" and doesn't seem to save

[2019-09-26 16:23] d3netxer commented on #233
yea

[2019-09-26 16:31] sophialinn commented on #230
Waiting to make minor edit to capitalization in metadata before closing issue.

[2019-09-26 16:33] #222 closed, assigned to sophialinn

[2019-09-26 16:37] sophialinn commented on #220
Interesting. OK. It is what it is, so I'll close this.

[2019-09-26 16:37] #220 closed, assigned to sophialinn

[2019-09-26 16:56] sophialinn commented on #230
Also, need to check Mekelle Bus Stations

[2019-09-26 17:44] kalxas commented on #230
ah, that was not in the spreadsheet?

[2019-09-26 17:57] sophialinn commented on #230
Hmm. The Bus Stop layer was not in the most recent collection of data sets, but since I didn't actually give you the link to the proper folder, perhaps that was a mix-up.

Here's the link to the [Mekelle Data (Sept 2019)](https://drive.google.com/open?id=1tn6xKP2JUq1R51LEE6mR2zo59JgnuTq1) data that ought to correspond to the metadata.

Actually, I'm seeing some problems in the metadata spreadsheet

[2019-09-26 17:58] sophialinn commented on #230
WAIT! Looks like Bus Stops is no longer in the GeoNode. Fine! But please do upload the metadata spreadsheet again.

[2019-09-26 18:10] kalxas commented on #230
Done

[2019-09-26 18:53] d3netxer commented on #211
Also need make sure the process to add thumbnails and customize them for the bulk upload process is smooth.

[2019-09-26 19:29] arshores opened #234 "Explore People is functioning strangely"
We are not able to modify "Explore People" in the admin menu. The Explore People page should either be changed or removed for now. CSU/State would like the ability to edit on our end. How should we proceed.

[2019-09-26 19:47] #171 closed, assigned to nobody

[2019-09-26 19:52] d3netxer commented on #156
After additional discussion we need to focus this issue now on making sure specific fields show the information we want. We would like to focus on the supplemental field and the lineage field but there might be additional fields in the future that we identify that need this additional characters as well.

[2019-09-26 19:52] d3netxer commented on #219
closing this out, as it will be merged with #156

[2019-09-26 19:52] #219 closed, assigned to nobody

[2019-09-26 19:53] d3netxer commented on #149
we want the same option in the layer preview page

[2019-09-26 20:01] #160 closed, assigned to nobody

[2019-09-26 20:03] d3netxer opened #235 "be able to extract all metadata from the 2C GeoNode"
This would be used to make a master metadata google sheet in order to make metadata edits and run the metadata update scripts.

[2019-09-26 20:05] d3netxer commented on #157
we should not add a new license, but modify one of the existing options.
This is where the code resides: https://github.com/GeoNode/geonode/blob/fb00670572efdb2c5f2139146ecdbe74a5c96a9a/geonode/base/fixtures/initial_data.json#L283

This is the JSON that should be modified:

{
        "pk": 4,
        "model": "base.license",
        "fields": {
            "identifier":"public_domain",

[2019-09-26 20:07] d3netxer commented on #157
Also right now the datasets from the bulk uploads are not updating the license fields correctly, even though they have values in the license fields. Sophia will check this in the next bulk upload, but it may be that the field needs to match the proper GeoNode identifier, which may be 'public_domain'

[2019-09-26 20:07] d3netxer commented on #146
closing this up and wrapping it up to #157

[2019-09-26 20:07] #146 closed, assigned to nobody

[2019-09-26 20:44] #230 closed, assigned to sophialinn

[2019-09-26 20:46] d3netxer commented on #234
![people_admin](https://user-images.githubusercontent.com/2665840/65723825-3074b700-e07d-11e9-9f49-11563b204a35.PNG)

got this error

[2019-09-27 18:33] sophialinn commented on #226
@kalxas I just deleted 11 duplicate layers for Esmeraldas. They are still showing up in the Layers list--will it take some time for this to refresh? I cleared my cache.

[2019-09-27 18:40] kalxas commented on #226
Elastic Search index was rebuilt.

[2019-09-27 18:41] kalxas commented on #172
This should be working now.

[2019-09-27 19:30] d3netxer opened #236 "create a cronjob to rebuild elastic search every day"
create a cronjob to rebuild elastic search every day

[2019-09-29 11:25] kalxas commented on #235
Export script committed and tested.

[2019-09-29 11:35] kalxas commented on #218
@d3netxer can you please point us to the latest version of this document? I guess it has to be migrated from the old source code, right?

[2019-09-29 11:36] kalxas commented on #235
All metadata extracted and sent to CSU via e-mail

[2019-09-29 11:41] kalxas commented on #152
Something like this?
https://secondarycities.geonode.state.gov/developer/

[2019-09-30 03:26] d3netxer commented on #218
yeah, it needs to be migrated. The files can be found here: https://github.com/state-hiu/2C-Geonode-Templates

[2019-09-30 03:31] d3netxer commented on #152
wow, I didn't recognize this before. It looks great, let's take a closer look at this and see if there is any room for improvement. It seems like it could be improved if the example urls took on the actual domain name of the site.

[2019-10-10 18:22] d3netxer commented on #145
I'm moving this to a 1st priority for milestone 2. This is a requirement for our websites, and they are scanning for this now.

[2019-10-15 14:47] d3netxer opened #237 "cannot edit users in admin"
-tried deleting a user

error message:
"There was a problem loading this page
Please contact your GeoNode administrator (he may have received an email automatically if he configured it properly). If you are the site administrator, enable debug mode to see the actual error and fix it or file an issue in GeoNode's issue tracker"

[2019-10-29 17:20] d3netxer commented on #163
We are breaking this down into the following two issues:

- [ ] being able to edit attribute Alias names through the GeoNode UI
- [ ] being able to edit attribute Alias names through the 2C GeoNode bulk upload scripts

[2019-10-29 17:27] d3netxer opened #238 "completing custom GeoNode pages and deploying"
- [ ] complete 2C 'getting-started' page. Make the url '/getting-started'
- [ ] complete the 'about 2C data page'. Make the url '/about_2C_data' and add a link to the nav menu under the 'About' sub-menu
- [ ] deploy

[2019-11-20 18:27] sophialinn opened #239 "BULK METADATA UPDATE: Minor edits to entire metadata collection"
An exported spreadsheet of ALL the metadata for ALL data layers was received by CSU from @kalxas on Sept. 29, 2019. That entire spreadsheet, representing the metadata of 1352 datasets, has now been edited for consistency, typos, keywords, categories, etc.

Whenever we feel confident to do so (!), this MASTER METADATA SPREADSHEET_20191120 can replace all existing metadata. Link: [https://drive.goog

[2019-11-21 21:32] sophialinn commented on #239
Note that there is no "License" column in this spreadsheet!